{foreach $list as $key=>$item}
<!--<form id="sale-form{$key}" action="{:url('sale')}" method="post" onsubmit="return false">-->
    <!--<input type="hidden" name="order_id" value="{$item.order_id}">-->
    <div class="wym_content_item">
        <div class="item_top">
            <div class="over_hidden">
                <img src="{$item.avatar}" alt="">
                <p class="first_p">{$item.show_mobile}
                </p>
                <p class="wym_price">{$item.number} CNY</p>
                <span class="wym_buy"  onclick="ajaxSale('{$item.order_id}','{$item.total_number}','{$item.china_price}')">出售</span>
            </div>
        </div>
        <ul class="flexbox wrap">
            <li>
                <span>出售数量</span>
                <span>{$item.number} 糖果</span>
            </li>
            <!--<li>-->
            <!--    <span>手续费</span>&nbsp;&nbsp;&nbsp;&nbsp;-->
            <!--    <span>{$item.charge_number} 糖果</span>-->
            <!--</li>-->
            <li>
                <span>单价折合</span>
                <span>1 CNY</span>
            </li>
            <li>
                <span>支付方式</span>
                <span><i class="zfb_icon"></i></span>
            </li>
        </ul>
    </div>
<!--</form>-->
    <div class="wd_line"></div>
{/foreach}