{extend name="layout/main" /}

{block name="header"}

{/block}
{block name="left"}{/block}

{block name="content"}
<div class="row">
    <div class="col-lg-6 col-sm-6" style="padding-left: 0">
        <section class="panel ">
            <header class="panel-heading">
                <h4>会员等级分布图</h4>
            </header>
            <div class="panel-body">
                <div id="user" style="width: 100%;height: 200px">

                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-6 col-sm-6" style="padding-right: 0">
        <section class="panel">
            <header class="panel-heading">
                <h4>空间分布图</h4>
            </header>
            <div class="panel-body">
                <div id="magic" style="width: 100%;height: 200px">

                </div>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-3" style="padding-left: 0">
        <section class="panel ">
            <header class="panel-heading">
                <h4>会员数量</h4>
            </header>
            <div class="panel-body">
                <h3>{$user['total'] ? $user['total'] : 0}</h3>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-md-3">
        <section class="panel">
            <header class="panel-heading">
                <h4>今日会员注册数量</h4>
            </header>
            <div class="panel-body">
                <h3>{$user['today'] ? $user['today'] : 0}</h3>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-md-3">
        <section class="panel ">
            <header class="panel-heading">
                <h4>已认证会员数量</h4>
            </header>
            <div class="panel-body">
                <h3>{$user['auth'] ? $user['auth'] : 0}</h3>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-md-3" style="padding-right: 0">
        <section class="panel">
            <header class="panel-heading">
                <h4>未认证会员数量</h4>
            </header>
            <div class="panel-body">
                <h3>{$user['no_auth'] ? $user['no_auth'] : 0}</h3>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-3" style="padding-left: 0">
        <section class="panel ">
            <header class="panel-heading">
                <h4>累计交易数量(等待匹配)</h4>
            </header>
            <div class="panel-body">
                <h3>{$order['match'] ? $order['match'] : 0}</h3>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-md-3">
        <section class="panel">
            <header class="panel-heading">
                <h4>累计交易数量(等待付款)</h4>
            </header>
            <div class="panel-body">
                <h3>{$order['pay'] ? $order['pay'] : 0}</h3>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-md-3">
        <section class="panel ">
            <header class="panel-heading">
                <h4>累计交易数量(等待收款)</h4>
            </header>
            <div class="panel-body">
                <h3>{$order['confirm'] ? $order['confirm'] : 0}</h3>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-md-3" style="padding-right: 0">
        <section class="panel">
            <header class="panel-heading">
                <h4>累计交易数量(已完成)</h4>
            </header>
            <div class="panel-body">
                <h3>{$order['finish'] ? $order['finish'] : 0}</h3>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-3" style="padding-left: 0">
        <section class="panel ">
            <header class="panel-heading">
                <h4>全网所有糖果总和</h4>
            </header>
            <div class="panel-body">
                <h3>{$user['total_magic'] ? $user['total_magic'] : 0.00}</h3>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-md-3">
        <section class="panel">
            <header class="panel-heading">
                <h4>全网所有算力总和</h4>
            </header>
            <div class="panel-body">
                <h3>{$user['total_energy'] ? $user['total_energy'] : 0.00}</h3>
            </div>
        </section>
    </div>
</div>
<!--<div class="row">
    <div class="col-lg-3 col-md-3" style="padding-left: 0">
        <section class="panel ">
            <header class="panel-heading">
                <h4>平台总交易手续费</h4>
            </header>
            <div class="panel-body">
                <h3>{$order['match'] ? $order['match'] : 0}</h3>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-md-3">
        <section class="panel">
            <header class="panel-heading">
                <h4>平台总虚拟币</h4>
            </header>
            <div class="panel-body">
                <h3>{$order['pay'] ? $order['pay'] : 0}</h3>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-md-3">
        <section class="panel ">
            <header class="panel-heading">
                <h4>平台总开采率</h4>
            </header>
            <div class="panel-body">
                <h3>{$order['confirm'] ? $order['confirm'] : 0}</h3>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-md-3" style="padding-right: 0">
        <section class="panel">
            <header class="panel-heading">
                <h4>平台总开采</h4>
            </header>
            <div class="panel-body">
                <h3>{$order['finish'] ? $order['finish'] : 0}</h3>
            </div>
        </section>
    </div>
</div>-->

{/block}


{block name="footer"}
<script src="/admin/js/echarts.min.js"></script>
<script>
    var userChart = echarts.init(document.getElementById('user'));
    var user = {
        title: {
            text: '会员等级分布图',
            x: 'center'
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['Lv1', 'Lv2', 'Lv3', 'Lv4', 'Lv5']
        },
        series: [
            {
                type: 'pie',
                radius: '55%',
                center: ['50%', '60%'],
                data: [
                    {value: '{$userLevel[1] ? $userLevel[1] : 0}', name: 'Lv1'},
                    {value: '{$userLevel[2] ? $userLevel[2] : 0}', name: 'Lv2'},
                    {value: '{$userLevel[3] ? $userLevel[3] : 0}', name: 'Lv3'},
                    {value: '{$userLevel[4] ? $userLevel[4] : 0}', name: 'Lv4'},
                    {value: '{$userLevel[5] ? $userLevel[5] : 0}', name: 'Lv5'}
                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    userChart.setOption(user);
</script>
<script>
    var magicChart = echarts.init(document.getElementById('magic'));
    var magic = {
        title: {
            text: '空间分布图',
            x: 'center'
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['运行中', '已过期']
        },
        series: [
            {
                type: 'pie',
                radius: '55%',
                center: ['50%', '60%'],
                data: [
                    {value: "{$magic['running'] ? $magic['running'] : 0}", name: '运行中'},
                    {value: "{$magic['stop'] ? $magic['stop'] : 0}", name: '已过期'}
                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    magicChart.setOption(magic);
</script>
<script>
    /*var orderChart = echarts.init(document.getElementById('order'));
     orders = {
     color: ['#3398DB'],
     tooltip : {
     trigger: 'axis',
     axisPointer : {            // 坐标轴指示器，坐标轴触发有效
     type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
     }
     },
     grid: {
     left: '3%',
     right: '4%',
     bottom: '3%',
     containLabel: true
     },
     xAxis : [
     {
     type : 'category',
     data : ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun','Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun','Sun'],
     axisTick: {
     alignWithLabel: true
     }
     }
     ],
     yAxis : [
     {
     type : 'value'
     }
     ],
     series : [
     {
     name:'直接访问',
     type:'bar',
     barWidth: '60%',
     data:[10, 52, 200, 334, 390, 330, 220,10, 52, 200, 334, 390, 330, 220,10]
     }
     ]
     };
     orderChart.setOption(orders);*/
</script>
{/block}