<!DOCTYPE html>
<html lang="en">
<head>
    <!--申明当前页面的编码集-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--网页标题-->
    <title>兑换矿机</title>
    {include file="layout/head" /}
</head>
<body>
<header>
    <div class="header_bt">
        <div class="header_f"><a href="{:url('index')}" class="header_fh"></a></div>
        <div class="header_c">租云空间</div>
        <div class="header_r"><a href="{:url('newcomer_intro')}">说明</a></div>
    </div>
    <div style="height: .74rem;clear: both;"></div>
</header>
<input type="hidden" name="mui-tab-item" value="2">
<div class="dhkj-page">
    <div class="dhkj_tips">
        <p><i class="laba_icon"></i><span>租用云空间运行周期都是35天、周期收益40%</span></p>
    </div>
    <div class="dhkj_header flexbox wrap spacebetween">
        <span class="active_l">租云空间</span>
        <span><a href="{:url('running_machine')}">运行中</a></span>
        <span><a href="{:url('expired_machine')}">已到期</a></span>
    </div>
    <div class="dhkj_content">
        {foreach name='list' item='item'}
        <form id="product-form{$key}" action="{:url('product/do_hire')}" method="post" onsubmit="return false">
            <input type="hidden" name="product_id" value="{$item->id}">
            <div class="dhkj_item flexbox column " style="background-color: {$item->bg_color|default='#5991fe'}">
                <i class="gc">
                    <img src="{$item->logo_url|default='/static/img/newimg/gc1.png'}" alt="">
                </i>
                <div class="first_item">
                    <span class="title">{$item->product_name}</span>
                    <span>算力：{$item->energy_num|default='0'}T</span>
                </div>
                <div>
                    <span>兑换数量：{$item->candy_num|default='0'}糖果</span>
                    <span>可持有：{$item->hold_num|default='0'}台</span>
                </div>
                <div class="last_item flexbox wrap spacebetween">

                    <p class="flexbox column">
                        <!--<em>周期产量：{$item->candy_num*1.8}糖果</em>-->
                        <em>周期产量：{$item->period*$item->energy_num}糖果</em>
                        <em>运行周期：{$item->period|default='0'}天</em>
                    </p>
                    <p data-form="product-form{$key}" onclick="ajaxPost(this)">
                        <span class="op_data">立即租用</span>
                    </p>
                </div>
            </div>
        </form>
        {/foreach}

        <!--<div class="dhkj_item flexbox column  gc2_bgk">-->
            <!--<i class="gc gc2"></i>-->
            <!--<div class="first_item">-->
                <!--<span class="title">二级空间</span>-->
                <!--<span>贡献值:3G</span>-->
            <!--</div>-->
            <!--<div>-->
                <!--<span>兑换数量：100糖果</span>-->
                <!--<span>可持有：1家</span>-->
            <!--</div>-->
            <!--<div class="last_item flexbox wrap spacebetween">-->

                <!--<p class="flexbox column">-->
                    <!--<em>周期产量：120糖果</em>-->
                    <!--<em>运行周期：30天</em>-->
                <!--</p>-->
                <!--<p>-->
                    <!--<a href="">立即租用</a>-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="dhkj_item flexbox column  gc3_bgk">-->
            <!--<i class="gc gc3"></i>-->
            <!--<div class="first_item">-->
                <!--<span class="title">三级空间</span>-->
                <!--<span>贡献值:3G</span>-->
            <!--</div>-->
            <!--<div>-->
                <!--<span>兑换数量：100糖果</span>-->
                <!--<span>可持有：1家</span>-->
            <!--</div>-->
            <!--<div class="last_item flexbox wrap spacebetween">-->

                <!--<p class="flexbox column">-->
                    <!--<em>周期产量：120糖果</em>-->
                    <!--<em>运行周期：30天</em>-->
                <!--</p>-->
                <!--<p>-->
                    <!--<a href="">立即租用</a>-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="dhkj_item flexbox column  gc4_bgk">-->
            <!--<i class="gc gc4"></i>-->
            <!--<div class="first_item">-->
                <!--<span class="title">四级空间</span>-->
                <!--<span>贡献值:3G</span>-->
            <!--</div>-->
            <!--<div>-->
                <!--<span>兑换数量：100糖果</span>-->
                <!--<span>可持有：1家</span>-->
            <!--</div>-->
            <!--<div class="last_item flexbox wrap spacebetween">-->

                <!--<p class="flexbox column">-->
                    <!--<em>周期产量：120糖果</em>-->
                    <!--<em>运行周期：30天</em>-->
                <!--</p>-->
                <!--<p>-->
                    <!--<a href="">立即租用</a>-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="dhkj_item flexbox column  expire_bgk ">-->
            <!--<i class="gc gc4"></i>-->
            <!--<div class="first_item">-->
                <!--<span class="title">四级空间</span>-->
                <!--<span>贡献值:3G</span>-->
            <!--</div>-->
            <!--<div>-->
                <!--<span>兑换数量：100糖果</span>-->
                <!--<span>可持有：1家</span>-->
            <!--</div>-->
            <!--<div class="last_item flexbox wrap spacebetween">-->

                <!--<p class="flexbox column">-->
                    <!--<em>周期产量：120糖果</em>-->
                    <!--<em>运行周期：30天</em>-->
                <!--</p>-->
                <!--<p>-->
                    <!--<a href="">已到期</a>-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>

{include file="layout/footer" /}
{include file="layout/nav" /}
</body>
</html>
