<!DOCTYPE html>
<html lang="en">
<head>
    <!--申明当前页面的编码集-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--网页标题-->
    <title>挖矿教程</title>
    {include file="layout/head" /}
</head>
<body>
<header>
    <div class="header_bt">
        <div class="header_f"><a href="javascript:history.back()" class="header_fh"></a></div>
        <div class="header_c">挖矿教程</div>
    </div>
    <div style="height: .74rem;clear: both;"></div>
</header>
<input type="hidden" name="mui-tab-item" value="2">
<div class="xsjc-page">
    <!--<div class="xsjc_header">-->
    <!--    <ul class="flexbox wrap">-->
    <!--        <li>-->
    <!--            <span>10亿</span>-->
    <!--            <span>糖果总量<i class="jc_1"></i></span>-->
    <!--        </li>-->
    <!--        <em></em>-->
    <!--        <li>-->
    <!--            <span>737.57万</span>-->
    <!--            <span>当前已产出<i class="jc_2"></i></span>-->
    <!--        </li>-->
    <!--        <em></em>-->
    <!--        <li>-->
    <!--            <span>737.57万</span>-->
    <!--            <span>当前已销毁<i class="jc_3"></i></span>-->
    <!--        </li>-->
    <!--    </ul>-->
    <!--</div>-->
    <div class="xsjc_content">
    	
    	
    	
    	 <h2> 【1.糖果是什么?】</h2>
       <p> 传统的互联网产品,公司获得收益和你没有关系,你只是在贡献,却没有享受收益。糖果整体设计区别于当前这些产品,糖果可用于参加租云空间获得算力挖矿,你拥有的算力越多,接下来你享受的挖矿收益就会越多。</p>
                   <h2>【2.糖果的用处?】</h2>
        <p>糖果是基于用户使用产品产生的奖励,只可以用于內部的消费与兑换。</p>
          <h2> 【3.挖矿的结算】</h2>
       <p> 1-300T算力则需要1个100-500的小买单才能领取收益，300T以上可以不用挂单即可领取收益.</p>
       <h2> 【4.挖矿的结算】</h2>
       <p> 挖矿是按秒来计算收益的，你可以随时领取收益。糖果目前只能通过APP内挖矿获取,没有其他获取途径。糖果总量10亿,为了让后注册的用户不会觉得有很大落差感，前一半矿池里的5亿糖果不会随着用户数量增加,用云空间挖出糖果速度随之减慢。当总量每挖出一半，难度将上升一倍,收益将会递减.</p>
 <h2>【5.挖矿需要注意的地方】</h2>
<p>收益最多累积24小时，请务必每24小时内领取一次收益。领取收益间隔时间必须1小时以上且累积收益不低于0.1糖果。
        <h2>【6.糖果APP的盈利模式是什么?】</h2>
        <p>糖果APP首创电商+广告双轮驱动商业模式,2019年中国国内电商+广告市场合计4000亿市场,糖果APP拥有业内最高的盈利模式。2020年糖果APP电商和广告收入都将回
            馈给用户,用于市场开拓。</p>
    </div>
</div>

{include file="layout/footer" /}
{include file="layout/nav" /}

</body>
</html>
