<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>交易市场</title>
    <link href="/static/css/mescroll.css" rel="stylesheet">
    {include file="layout/head" /}
    <style>
        .mui-input-row.mui-search .mui-icon-clear {
            top: 7px
        }

        .mui-search.mui-active:before {
            top: 25px
        }
    </style>
</head>
<body>
{include file="layout/nav" /}
<div class="mui-content">
    <div class="mui-scroll-wrapper" id="scroll" style="margin-bottom: 50px">
        <div class="mui-scroll">
            <div class="market-header mui-row" style="background-color: #17c3e5">
                <div class="mui-col-xs-5 mui-col-sm-5">
                    <p class="text" style="margin-bottom: 6px">当前价</p>
                    <strong class="price">{$prices['prices']['current']}</strong><span class="text">$</span>

                    <p class="text" style="margin-top: 6px">≈{$prices['prices']['current_china']} CNY</p>
                </div>
                <div class="mui-col-xs-7 mui-col-sm-7">
                    <div class="right">
                        <p class="text">最高：<span class="blank">{$prices['prices']['max']}</span>&nbsp;&nbsp;$
                            &nbsp;最低：<span
                                    class="blank">{$prices['prices']['min']}</span>&nbsp;$</p>

                        <p class="text">幅：<span class="blank">{$market_price_rate}</span>&nbsp;%</p>

                        <p class="text">24小时交易量：<span class="blank">{$market_number}</span></p>

                        <p class="text">24小时交易额：<span class="blank">{$market_total}</span></p>
                    </div>
                </div>
            </div>
            <div class="white-box" style="padding-bottom: 10px">
                <h5 style="padding: 20px 0 0 20px;margin: 0">晶石价格线</h5>

                <div class="chart " id="lineChart" style="height:200px;margin-left: 20px">

                </div>
            </div>
            <div class="market-dialog white-box" id="action-market">
                <div class="tabs mui-row">
                    <div data-action="buy-market" class="mui-col-xs-6 mui-col-sm-6 active action-item" style="color: #17c3e5">
                        买入晶石
                    </div>
                    <div data-action="sale-market" class="mui-col-xs-6 mui-col-sm-6 action-item" style="color: #17c3e5">
                        卖出晶石
                    </div>
                </div>
                <div class="market-form" id="buy-market">
                    <p>可用 <strong>{$magic}</strong>糖果</p>

                    <div class="clear">
                        <input type="number" min="{$number_min}" max="{$number_max}" id="buy-number"
                               class="left change-buy-input" placeholder="请输入购买数量">
                        <input type="number" min="{$prices['prices']['min']}" max="{$prices['prices']['max']}"
                               id="buy-price" class="right change-buy-input" placeholder="请输入购买单价">
                    </div>
                    <p>预计支出： <strong id="buy-total">0</strong>$</p>
                    <button style="background-color: #17c3e5" class="mui-btn-block market-btn" onclick="buy(this)">确定购买</button>
                </div>
                <div class="market-form" id="sale-market" style="display: none">
                    <p>可用 <strong style="color: #17c3e5">{$magic}</strong>糖果</p>

                    <div class="clear">
                        <input type="number" min="{$number_min}" max="{$number_max}" id="sale-number"
                               class="left change-sale-input" placeholder="请输入卖出数量">
                        <input type="number" min="{$prices['prices']['min']}" max="{$prices['prices']['max']}"
                               id="sale-price" class="right change-sale-input" placeholder="请输入卖出单价">
                    </div>
                    <p>预计收入： <strong id="sale-total">0</strong>$</p>
                    <button style="background-color: #17c3e5"  class="mui-btn-block market-btn" onclick="sale(this)">确定卖出</button>
                </div>
            </div>
            <div class="mui-input-row mui-search" style="margin: 10px">
                <input id="search" type="search" maxlength="11" style="background: #fff;border: 1px solid #eee;margin-bottom: 0;"
                       class="mui-input-clear" placeholder="请输入对方手机号码查找">
            </div>
            <div class="market-dialog white-box" style="margin-top: 0">
                <div class="tabs mui-row">
                    <div data-id="buy-list" i="0" class="mui-col-xs-6 list-tab mui-col-sm-6 active">
                        求购列表
                    </div>
                    <div data-id="sale-list" i="1" class="mui-col-xs-6 list-tab mui-col-sm-6">
                        出售列表
                    </div>
                </div>
                <div class="market-list market-data-list" id="mescroll0">
                    <div id="dataList0">

                    </div>
                    <!--<div class="market-list-item mui-row " >
                        <div class="mui-col-sm-2 mui-col-xs-2">
                            <img src="img/headphoto.png">
                        </div>
                        <div class="mui-col-sm-7 mui-col-xs-7" style="padding-left: 5px">
                            <p class="text nick-name">昵称昵称</p>

                            <p class="text small">晶石数量：3</p>

                            <p class="pd-n-b small"><span>单价：0.43 $</span><span
                                    style="margin-left: 20px">单价：0.43 $</span></p>

                            <p class="pd-n-b small"><span>单价：0.43 $</span><span
                                    style="margin-left: 20px">单价：0.43 $</span></p>
                        </div>
                        <div class="mui-col-sm-3 mui-col-xs-3">
                            <p class="total-price" style="">10.00 CNY</p>
                            <a class="market-action-btn">出售</a>
                        </div>
                    </div>-->

                </div>
                <div class="market-list market-data-list" id="mescroll1" style="display: none">
                    <div class="market-list-item mui-row" id="dataList1">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{include file="layout/footer" /}
<script src="/static/js/mescroll.js"></script>
<script src="/static/js/echarts.simple.min.js"></script>
<script>
    $(function () {
        $(".change-buy-input").bind('change keydown keyup', function () {
            var price = parseFloat($("#buy-price").val());
            var number = parseFloat($("#buy-number").val());
            var total = accMul(price, number);
            $("#buy-total").html(total ? total : 0)
        })
        $(".change-sale-input").bind('change keydown keyup', function () {
            var price = parseFloat($("#sale-price").val());
            var number = parseFloat($("#sale-number").val());
            var total = accMul(price, number);
            $("#sale-total").html(total ? total : 0)
        })
        $("#action-market .action-item").click(function () {
            $(this).siblings('.action-item').removeClass('active');
            $(this).addClass('active');
            var id = $(this).attr('data-action');
            $("#action-market .market-form").hide();
            $("#" + id).show();

        })
    })
    function accMul(arg1, arg2) {
        var m = 0, s1 = arg1.toString(), s2 = arg2.toString();
        try {
            m += s1.split(".")[1].length;
        } catch (e) {
        }
        try {
            m += s2.split(".")[1].length;
        } catch (e) {
        }
        return Number(s1.replace(".", "")) * Number(s2.replace(".", "")) / Math.pow(10, m);
    }
    //买入
    function buy(target) {
        var price = parseFloat($("#buy-price").val() ? $("#buy-price").val() : 0);
        var number = parseFloat($("#buy-number").val() ? $("#buy-number").val() : 0);
        if (!checkParams(price, number)) {
            return false;
        }
        var $this = $(target);
        mui.showLoading("处理中..", "div");
        $this.attr('disabled', true);
        $.post("{:url('market/buy')}", {number: number, price: price}, function (data) {
            mui.hideLoading();
            $this.attr('disabled', false);
            if (data.code == 0) {
                mui.confirm(data.message, '', ['去查看', '取消'], function (e) {
                    if (e.index == 0) {
                        window.location.href = data.toUrl;
                    } else {
                        window.location.reload();
                    }
                })
            } else {
                mui.alert(data.message);
            }

        }, 'json')
    }
    function sale(target) {
        var price = parseFloat($("#sale-price").val() ? $("#sale-price").val() : 0);
        var number = parseFloat($("#sale-number").val() ? $("#sale-number").val() : 0);
        if (!checkParams(price, number)) {
            return false;
        }
        var $this = $(target);

        //发送验证码
        mui.showLoading("处理中..", "div");
        $this.attr('disabled', true);
        $.post("{:url('market/send')}", {number: number, price: price}, function (data) {
            mui.hideLoading();
            $this.attr('disabled', false);
            if (data.code == 0) {
                console.log(data.message);
                mui.prompt('请输入短信验证码：' + data.message, '请输入短信验证码', '', ['取消', '确定'], function (e) {
                    if (e.index == 1) {
                        var code = e.value;
                        if (!code) {
                            mui.alert('请输入短信验证码');
                            return false;
                        }
                        mui.showLoading("处理中..", "div");
                        $this.attr('disabled', true);
                        $.post("{:url('market/sale')}", {number: number, price: price, code: code}, function (data) {
                            mui.hideLoading();
                            $this.attr('disabled', false);
                            if (data.code == 0) {
                                mui.confirm(data.message, '', ['去查看', '取消'], function (e1) {
                                    if (e1.index == 0) {
                                        window.location.href = data.toUrl;
                                    } else {
                                        window.location.reload();
                                    }
                                })
                            } else if (data.code == 1) {
                                mui.alert(data.message);
                            } else {
                                mui.alert(data.message);
                            }

                        }, 'json')
                    }

                })
            } else {
                mui.alert(data.message);
            }
        }, 'json')
    }

    function checkParams(price, number) {
        var price_min = parseFloat("{$prices['prices']['min']}");
        var price_max = parseFloat("{$prices['prices']['max']}");
        var number_min = parseFloat("{$number_min}");
        var number_max = parseFloat("{$number_max}");

        if (!(/^\d+(\.\d{1,2})?$/.test(price))) {
            mui.alert('单价最多为2位小数');
            return false;
        }

        if (price < price_min || price > price_max) {
            mui.alert('单价在' + price_min + '-' + price_max + '之间');
            return false;
        }
        if (!(/^[1-9]\d*$/.test(number))) {
            mui.alert('数量必须为大于1的正整数');
            return false;
        }
        if (number_min > 0 && number < number_min) {
            mui.alert('数量在' + number_min + '-' + number_max + '之间');
            return false;
        }
        if (number_max > 0 && number > number_max) {
            mui.alert('数量在' + number_min + '-' + number_max + '之间');
            return false;
        }

        return true;
    }
</script>
<script>
    $("#dataList1").on('click', '.buy-order-btn', function () {
        var id = $(this).attr('data-id');
        var nick_name = $(this).attr('data-nickname');
        var $this = $(this);
        mui.confirm('你确定要和' + nick_name + '交易吗', '', ['取消', '确定'], function (e) {
            if (e.index == 1) {
                mui.showLoading("处理中..", "div");
                $this.attr('disabled', true);
                $.post("{:url('market/buyTa')}", {order_id: id}, function (response) {
                    mui.hideLoading();
                    $this.attr('disabled', false);
                    mui.alert(response.message);
                    if (response.code == 0) {
                        $this.parents('.market-list-item').remove();
                    }
                }, 'json')
            }
        })
    })
    $("#dataList0").on('click', '.sale-order-btn', function () {
        var id = $(this).attr('data-id');
        var nick_name = $(this).attr('data-nickname');
        var $this = $(this);
        mui.confirm('你确定要和' + nick_name + '交易吗', '', ['取消', '确定'], function (e) {
            if (e.index == 1) {
                mui.showLoading("发送验证码中..", "div");
                $this.attr('disabled', true);
                $.post("{:url('market/sendSale')}", {order_id: id}, function (response) {
                    mui.hideLoading();
                    $this.attr('disabled', false);
                    if (response.code == 0) {
                        console.log(response.message);
                        mui.prompt('请输入短信验证码：' + response.message, '请输入短信验证码', '', ['取消', '确定'], function (e) {
                            if (e.index == 1) {
                                var code = e.value;
                                if (!code) {
                                    mui.alert('请输入短信验证码');
                                    return false;
                                }
                                mui.showLoading("处理中..", "div");
                                $this.attr('disabled', true);
                                $.post("{:url('market/saleTa')}", {order_id: id, code: code}, function (data) {
                                    mui.hideLoading();
                                    $this.attr('disabled', false);
                                    mui.alert(data.message);
                                    if (response.code == 0) {
                                        $this.parents('.market-list-item').remove();
                                    }
                                }, 'json')
                            }

                        })
                    } else {
                        mui.alert(response.message);
                    }

                }, 'json')
            }
        })
    })

</script>
<script>
    $(function () {
        $("#search").change(function () {
            var value = $(this).val();
            var reg = /^1[345789][0-9]{9}$/;
            if (reg.test(value)) {
                //搜索
                var i = 0;
                $(".list-tab").each(function () {
                    if ($(this).hasClass('active')) {
                        i = Number($(this).attr("i"));
                    }
                })
                mescrollArr[i] = initMescroll("mescroll" + i, "dataList" + i);

            }
        })
        var curNavIndex = 0;//
        var mescrollArr = new Array(2);
        //初始化首页
        mescrollArr[0] = initMescroll("mescroll0", "dataList0");

        /*初始化菜单*/
        $(".list-tab").click(function () {
            var i = Number($(this).attr("i"));
            if (curNavIndex != i) {
                //更改列表条件
                $(".list-tab").removeClass("active");
                $(this).addClass("active");
                //隐藏当前列表
                $("#mescroll" + curNavIndex).hide();
                //显示对应的列表
                curNavIndex = i;
                $("#mescroll" + curNavIndex).show();
                //取出菜单所对应的mescroll对象,如果未初始化则初始化
                if (mescrollArr[i] == null) mescrollArr[i] = initMescroll("mescroll" + i, "dataList" + i);
            }
        })

        /*创建MeScroll对象*/
        function initMescroll(mescrollId, clearEmptyId) {
            //创建MeScroll对象,内部已默认开启下拉刷新,自动执行up.callback,刷新列表数据;
            mescroll = new MeScroll(mescrollId, {
                //上拉加载的配置项
                up: {
                    use: true, //是否初始化上拉加载; 默认true
                    auto: true,
                    isBoth: true,
                    callback: getListData, //上拉回调,此处可简写; 相当于 callback: function (page) { getListData(page); }
                    noMoreSize: 5, //如果列表已无数据,可设置列表的总数量要大于半页才显示无更多数据;避免列表数据过少(比如只有一条数据),显示无更多数据会不好看; 默认5
                    empty: {
                        tip: "暂无相关数据~", //提示
                    },
                    clearEmptyId: clearEmptyId //相当于同时设置了clearId和empty.warpId; 简化写法;默认null
                },
                down: {
                    use: false
                }

            });
            return mescroll;
        }

        /*联网加载列表数据  page = {num:1, size:10}; num:当前页 从1开始, size:每页数据条数 */
        function getListData(page) {
            //联网加载数据
            console.log("curNavIndex=" + curNavIndex + ", page.num=" + page.num);
            getListDataFromNet(curNavIndex, page.num, page.size, function (data) {
                //联网成功的回调,隐藏下拉刷新和上拉加载的状态;
                console.log("data.length=" + data.length);
                mescrollArr[curNavIndex].endSuccess(data.length);//传参:数据的总数; mescroll会自动判断列表如果无任何数据,则提示空;列表无下一页数据,则提示无更多数据;
                //设置列表数据
                if (curNavIndex == 0) {
                    setBuyList(data)
                } else {
                    setSaleList(data)
                }
                //setListData(data);
            }, function () {
                //联网失败的回调,隐藏下拉刷新和上拉加载的状态;
                mescrollArr[curNavIndex].endErr();
            });
        }

        function setBuyList(data) {
            var str = "";
            for (var i = 0; i < data.length; i++) {
                var pd = data[i];

                str += '<div class="market-list-item mui-row " ><div class="mui-col-sm-2 mui-col-xs-2">' +
                        '<img src="' + pd.avatar + '"></div><div class="mui-col-sm-7 mui-col-xs-7" style="padding-left: 5px">' +
                        '<p class="text nick-name">' + pd.nick_name + '</p><p class="text small">晶石数量：' + pd.number + '</p>' +
                        '<p class="pd-n-b small"><span>单价：' + pd.price + ' $</span><span style="margin-left: 20px">总价：' + pd.total_money + ' $</span></p>' +
                        '<p class="pd-n-b small"><span>成交量：' + pd.finish + '</span><span style="margin-left: 20px">好评率：' + pd.comment + '%</span></p>' +
                        '</div><div class="mui-col-sm-3 mui-col-xs-3"><p class="total-price" style="">' + pd.china_price + ' CNY</p>' +
                        '<button class="market-action-btn sale-order-btn" href="javascript:void(0)" data-nickname="' + pd.nick_name + '" data-id="' + pd.order_id + '" >出售</button> </div></div>';
            }
            $("#dataList0").append(str);
        }

        function setSaleList(data) {
            var str = "";
            for (var i = 0; i < data.length; i++) {
                var pd = data[i];

                str += '<div class="market-list-item mui-row " ><div class="mui-col-sm-2 mui-col-xs-2">' +
                        '<img src="' + pd.avatar + '"></div><div class="mui-col-sm-7 mui-col-xs-7" style="padding-left: 5px">' +
                        '<p class="text nick-name">' + pd.nick_name + '</p><p class="text small">晶石数量：' + pd.number + '</p>' +
                        '<p class="pd-n-b small"><span>单价：' + pd.price + ' $</span><span style="margin-left: 20px">总价：' + pd.total_money + ' $</span></p>' +
                        '<p class="pd-n-b small"><span>成交量：' + pd.finish + '</span><span style="margin-left: 20px">好评率：' + pd.comment + '%</span></p>' +
                        '</div><div class="mui-col-sm-3 mui-col-xs-3"><p class="total-price" style="">' + pd.china_price + ' CNY</p>' +
                        '<button class="market-action-btn buy-order-btn" href="javascript:void(0)" data-nickname="' + pd.nick_name + '" data-id="' + pd.order_id + '" >买入</button> </div></div>';
            }
            $("#dataList1").append(str);
        }


        /*联网加载列表数据*/
        function getListDataFromNet(curNavIndex, pageNum, pageSize, successCallback, errorCallback) {
            //延时一秒,模拟联网
            if (curNavIndex == 0) {
                var url = "{:url('market/buyList')}"
            } else {
                var url = "{:url('market/saleList')}"
            }
            var mobileVal = $("#search").val();
            var mobile = '';
            var reg = /^1[345789][0-9]{9}$/;
            if (reg.test(mobileVal)) {
                mobile = mobileVal;
            }

            $.ajax({
                type: 'GET',
                url: url,
                data: {
                    page: pageNum,
                    limit: pageSize,
                    mobile: mobile
                },
                dataType: 'json',
                success: function (data) {
                    if (data.code == 0) {
                        var listData = data.data;
                        //回调
                        successCallback(listData);
                    } else {
                        console.log(data.message);
                        listData = [];
                        successCallback(listData);
                    }
                }
            })
        }
    });

</script>
<script>
    var option1 = {
        legend: {
            data: ["实时价格"],
            left: "left"
        },
        tooltip: {
            show: !0
        },
        grid: {
            x: 30,
            x2: 20,
            y: 15,
            y2: 25
        },
        xAxis: [{
            type: "category",
            boundaryGap: false,
            data: [{$prices['echarts']['xalias']}],
            axisLine: {
                lineStyle: {
                    color: '#999'
                }
            },
            splitLine: {
                show: true
            },

        }],
        yAxis: [{
            type: "value",
            axisTick: {show: false},
            splitLine: {show: false},
            axisLine: {
                lineStyle: {
                    color: '#999'
                }
            }

        }],
        series: [{
            name: "实时价格",
            type: "line",
            data: [{$prices['echarts']['yalias']}],
            itemStyle: {
                normal: {
                    color: '#ffce1b',
                    lineStyle: {
                        color: '#ffce1b'
                    }
                }
            },
        }]
    }
    var t = echarts.init(document.getElementById("lineChart"), "myzhexian");
    setTimeout(function () {
        t.setOption(option1)
    }, 500);

</script>
</html>