<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{$articleinfo->title}</title>
    {include file="layout/head" /}
</head>

<body>
<header>
    <div class="header_bt">
        <div class="header_f"><a href="javascript:history.back()" class="header_fh"></a></div>
        <div class="header_c">{$articleinfo->title}</div>
    </div>
    <div style="height: .74rem;clear: both;"></div>
</header>
<div class="wd_line"></div>
<div>
    {:htmlspecialchars_decode($articleinfo->content)}
</div>

</body>
{include file="layout/footer" /}
</html>