<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>晶盒任务</title>
    {include file="layout/head" /}
    <script>
 window.onbeforeunload = function(){
        return false; // This will stop the redirecting.
    }
    </script>
</head>
<style type="text/css">
    .font {
        width: 72%;
        height: auto;
        margin: 0 auto;
    }
</style>
<body style="background:white;">
<header class="mui-bar mui-bar-nav my-header"  style="background-color: #17c3e5;">
    <a href="/index/index/index" class="mui-icon mui-icon-left-nav mui-pull-left"></a>

    <h1 id="title" class="mui-title">晶盒任务</h1>
</header>
<div class="mui-content" style="padding-bottom: 70px">
    <iframe src="https://m.toutiao.com/?w2atif=1&channel=__all__#channel=__all__" style="width:100%;height:700px" frameborder="0"  id="external-frame" onload="setIframeHeight(this)" security="restricted" sandbox=""></iframe>		
</div>
<script>
	
setInterval(()=>{

  var h =document.body.clientHeight;
 // document.querySelector('iframe').height =h;



}, 200);

</script>
<script>
    window.onbeforeunload = function(){
        return false; // This will stop the redirecting.
    }
</script>
{include file="layout/footer" /}

</body>
</html>