<!DOCTYPE html>
<html lang="en">
<head>
    <!--申明当前页面的编码集-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--网页标题-->
    <title>借的到</title>
    {include file="layout/head" /}
</head>
<body>
<header>
    <div class="header_bt">
        <div class="header_f"><a href="javascript:history.back()" class="header_fh"></a></div>
        <div class="header_c">借的到</div>
    </div>
    <div style="height: .74rem;clear: both;"></div>
</header>
<div class="jdd-page">
    <input type="hidden" name="energy" value="{$energy}">
    <div class="jdd_item">
        <p>最高可借</p>
        <p class="price"><em>￥</em>50000</p>
        <p>超长账期，还款灵活</p>
    </div>
    <div class="jdd_ljjq_btn">
        立即借钱
    </div>
</div>

<div class="jdd_bot">
    <p><a href="" class="jkjl">借款记录</a></p>
    <p><a href="">借款服务由其它借贷公司为入口提供</a></p>
</div>
{include file="layout/footer" /}
<script>
    $(".jdd_ljjq_btn").click(function () {
        var energy = $("input[name='energy']").val();
        if(energy>100){
            mui.alert('多使用将有几率开通');
        }else{
            mui.alert('算力太少不足以抵押');
        }
    });


</script>
</body>
</html>

