<!DOCTYPE html>
<html lang="en">
<head>
    <!--申明当前页面的编码集-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--网页标题-->
    <title>糖果抽奖</title>
    {include file="layout/head" /}
</head>
<style>
    .layui-flow-more{
        display: none;
    }
</style>
<body style="background-color: #fafafc">
<header>
    <div class="header_bt">
        <div class="header_f"><a href="javascript:history.back()" class="header_fh"></a></div>
        <div class="header_c">自营商城</div>
        <div class="header_r"><span onclick="mui.alert('没有兑换记录');return false;" class="header_fr"></span></div>
    </div>
    <div style="height: .74rem;clear: both;"></div>
</header>
<input type="hidden" name="magic" value="{$magic}">
<input type="hidden" name="mui-tab-item" value="4">

{if count($list)>0}
<div class="candy_luck-page">
    <ul class="flexbox wrap spacebetween flow_load candy_luck-con">

    </ul>
</div>
{else /}
<div class="show_on_content">
    <p><img src="/static/img/newimg/no_data_icon.png" alt=""></p>
    <p class="show_text">暂无内容</p>
</div>
{/if}
<div class="order_tips_pop fx_pop" style="display: none">
    <div class="order_tips_pop_view">
        <p class="title">提示</p>
        <p>是否确认购买该商品</p>
        <p class="btn">
            <span class="confirm float_l">确定</span>
            <span class="cancel float_r">取消</span>
        </p>
    </div>
</div>
<div class="zhezhao_h"></div>

{include file="layout/footer" /}
{include file="layout/nav" /}

</body>
<script>
    lazy_loading('candy_luckdraw','','',' ');
    $(".candy_luck-page .candy_luck-con").on('click','.item',function () {
        var magic = $("input[name='magic']").val();
        var price = $(this).data('price');
        if(magic<price){
            mui.alert('余额不足');
            return false;
        }
        $(".fx_pop").show();
        $(".zhezhao_h").addClass('zhezhao');

    })
    $(".order_tips_pop .cancel").click(function () {
        $(".order_tips_pop").hide();
        $(".zhezhao_h").removeClass('zhezhao');
    });
    $(".order_tips_pop .confirm").click(function () {
        $(".order_tips_pop").hide();
        $(".zhezhao_h").removeClass('zhezhao');
        mui.alert('库存不足');
        return false;
    });
</script>
</html>

