<!DOCTYPE html>
<html lang="en">
<head>
    <!--申明当前页面的编码集-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--网页标题-->
    <title>兑换记录</title>
    {include file="layout/head" /}
</head>
<body style="background-color: #f3f4f6">
<header>
    <div class="header_bt">
        <div class="header_f"><a href="javascript:history.back()" class="header_fh"></a></div>
        <div class="header_c">兑换记录</div>
    </div>
    <div style="height: .74rem;clear: both;"></div>
</header>

{if count($list)>0}
<div class="lsmx-page">
    <ul class="flexbox column flow_load">
        {foreach $list as $item}

        {/foreach}
    </ul>
</div>
{else /}
<div class="show_on_content">
    <p><img src="/static/img/newimg/no_data_icon.png" alt=""></p>
    <p class="show_text">暂无内容</p>
</div>
{/if}
</body>
{include file="layout/footer" /}
<script>
    lazy_loading('flash_exchange_record');
</script>
</html>

