<!DOCTYPE html>
<html lang="en">
<head>
    <!--申明当前页面的编码集-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--网页标题-->
    <title>划转糖果</title>
    {include file="layout/head" /}
</head>
<body>
<header>
    <div class="header_bt">
        <div class="header_f"><a href="javascript:history.back()" class="header_fh"></a></div>
        <div class="header_c">划转糖果</div>
        <div class="header_r"><a href="{:url('collect_record')}" class="header_fr"></a></div>
    </div>
    <div style="height: .74rem;clear: both;"></div>
</header>
<input type="hidden" name="mui-tab-item" value="4">
<div class="hztg-page">
    <form id="pay-form" action="{:url('welfare/do_pay')}" method="post" onsubmit="return false">
        <input type="hidden" name="pay_rate" value="{$pay_rate}">
        <input type="hidden" name="pay_min_num" value="{$pay_min_num}">
        <ul class="flexbox column">
            <li>
                <input type="text" class="input_line" name="pay_mobile" style="width: 75%;" placeholder="对方手机号">
                <i class="show_xm"></i>
            </li>
            <!--<li>-->
                <!--<input type="text" class="input_line" placeholder="确认手机号">-->
            <!--</li>-->
            <li>
                <input autocomplete="off" type="text" name="pay_magic" class="input_line" placeholder="输入糖果数量">
            </li>
            <li class="no_show_line">
                <input autocomplete="off" type="text" name="pay_rate_num" class="input_line" value="手续费" readonly>
            </li>
            <li>
                <input type="password" autocomplete="off" name="trad_password" class="input_line" placeholder="资金密码">
            </li>
        </ul>
        <div class="hztg_bot">
            <button data-form="pay-form" onclick="ajaxPost(this)">确定</button>
            <p class="tips">请确认对方手机号输入是否正确，以防划转不到账</p>
    </div>
    </form>
</div>
{include file="layout/footer" /}
{include file="layout/nav" /}
<script>

    $("input[name='pay_magic']").blur(function () {
        var pay_magic = $(this).val();
        var pay_rate = $("input[name='pay_rate']").val();
        var pay_min_num = $("input[name='pay_min_num']").val();
        if(pay_magic<pay_min_num){
            mui.alert("最低划转金额"+pay_min_num);
        }
        var sxf = Number(pay_magic * pay_rate);
        sxf = sxf.toFixed(2);
        $("input[name='pay_rate_num']").val(sxf);
    });
    $("input[name='pay_mobile']").blur(function () {
        var pay_mobile = $(this).val();
        if(!pay_mobile){
            mui.alert("请输入收款手机号");
            return false;
        }
        $.post("{:url('get_user_name')}", {pay_mobile: pay_mobile}, function (d) {
            console.log(d);
            if(d.code == 0){
                $(".show_xm").text(d.data);
            }else{
                mui.alert(d.message);
                $(".show_xm").text('');
                return false;
            }
        });
    })

</script>

</body>
</html>

