<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>我的订单</title>
    {include file="layout/head" /}

</head>
<body style="background-color: #f6f6f6">
<header>
    <div class="header_bt">
        <div class="header_f"><a href="{:url('rebate/index')}" class="header_fh"></a></div>
        <div class="header_c">我的订单</div>
    </div>
    <div style="height: .74rem;clear: both;"></div>
</header>
<div class="tbfl-page">
    <input type="hidden" name="mui-tab-item" value="4">
    <div class="tag_line">
    <ul class="flexbox wrap spacearound">
        <a href="{:url('index')}" >
            <li>绑定订单</li>
        </a>
        <a href="{:url('deal')}">
            <li>进行中</li>
        </a>
        <a href="{:url('no_receive')}">
            <li>待领取</li>
        </a>
        <a href="javascript:;">
            <li class="active">已领取</li>
        </a>
        <a href="{:url('expired')}">
            <li>已无效</li>
        </a>
    </ul>
        </div>
    <div class="mid"><img src="/static/img/newimg/banner23.png" alt=""></div>
    <div style="margin-bottom: .8rem" class="flow_load">

    </div>
</div>
<div class="deal_bot_tips">
    订单同步可能有5~15分钟延迟，请耐心等待！
</div>
{include file="layout/footer" /}
{include file="layout/nav" /}
</body>
<script>
    lazy_loading('alreadly_receive');
</script>
</html>