{foreach $list as $item}
{if $item.no_find == 1}
<div class="order_item">
    <div class="mid_con sh">
        <span class="float_l">审核中</span>
        <span class="title float_r"><i></i>订单编号：{$item.order_no}</span>
    </div>
</div>
{else /}
<div class="order_item">
    <p class="top">
        <span class="float_l">进行中</span>
        <span class="float_r">付款金额 <em>{$item.order_price}</em>元</span>
    </p>
    <div class="mid flexbox wrap">
        <img src="{$item.img|default='/static/img/newimg/hw1.jpg'}" alt="">
        <div class="mid_con">
            <p class="title">{$item.title}</p>
            <p class="bh">订单编号：{$item.order_no}</p>
            <p>付款时间：{$item.create_time}</p>
        </div>
    </div>
    <div class="bot">
        <span class="bot_l float_l">返{$item.re_candy_num}糖果</span>
        {if $item.order_status == '订单结算'}
            <span class="bot_r float_r">{$item.left_receive_days}天后可领取</span>
        {else /}
            <span class="bot_r float_r">等待收货</span>
        {/if}
    </div>
</div>
{/if}
{/foreach}