{foreach $list as $item}
<li>
    <input type="hidden" value="{$item->id}">
    <p class="first_child">
        {if ($item.num) < 0}
            <i class="sr1_icon"></i>
            <span>{$item.type_name}<em style="font-size: .24rem;">({$item.sub_mobile})</em></span>
            <span>-{$item.num}糖果</span>
        {else /}
            <i class="sr2_icon"></i>
            <span>{$item.type_name}<em style="font-size: .24rem;">({$item.sub_mobile})</em></span>
            <span>+{$item.num}糖果</span>
        {/if}
    </p>
    <p style="margin-left: .9rem;">{$item.add_time|date="Y-m-d H:i:s"}</p>
</li>
{/foreach}