{foreach $list as $item}
<li class="wdtd-view">
    <p class="first_line">
        <img src="{if $item->avatar}{$item->avatar}{else /}/static/img/newimg/tx1.png{/if}" alt="">
        <span>{$item->mobile}</span>
        {if $item->is_cert == 2}
            <i class="rz_icon"></i>
        {else /}
            <i class="wrz_icon"></i>
        {/if}
    </p>
    <p class="second_line">
        <span>算力：<em>{$item->energy|round=###,0}</em> T</span>
        <span>注册时间：<em>{$item->register_time|date="Y-m-d H:i:s"}</em></span>
    </p>
</li>
{/foreach}