<!DOCTYPE html>
<html lang="en">
<head>
    <!--申明当前页面的编码集-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--网页标题-->
    <title>邀请扶持</title>
    {include file="layout/head" /}
</head>
<body style="background-color: #ecf2fe" class="tgzp-page">
<header>
    <div class="header_bt">
        <div class="header_f"><a href="{:url('member/index')}" class="header_fh"></a></div>
        <div class="header_c">邀请扶持</div>
    </div>
    <div style="height: .74rem;clear: both;"></div>
</header>
<input type="hidden" name="mui-tab-item" value="5">

<div class="yqfc-page">
    <div class="yqfc_header flexbox wrap spacebetween">
        <div class="yqfc_header_item">
            <p>团队人数</p>
            <p>{$invite_certs_num}</p>
            <p>团队总人数</p>
        </div>
        <div class="yqfc_header_item">
            <p>团队总贡献</p>
            <p>{$energy_num}</p>
            <p>团队贡献总数</p>
        </div>
    </div>
    <div class="yqfc_title">
       <span>一 星级奖励 一</span>
    </div>
    <div class="yqfc_content flexbox column">
        {foreach name="star_conf_list" item="item"  }
        <!--<form action="{:url('invite/receive')}"  id="receive{$key}" method="post" onsubmit="return false">-->
            <!--<input type="hidden" name="star_id" value="{$item->id}">-->
        {if $item->is_receive != '1' }
            <div class="yqfc_content_item flexbox wrap">
                <div class="yqfc_content_item_l xj-content_l_bgk_1"
                     style="color:{$item->receive_bg_color|default='#009b95'};background:  radial-gradient(circle at top right, transparent 5px, {$item->detail_bg_color|default='#bee6ee'} 0) top right,
    radial-gradient(circle at bottom right, transparent 5px,{$item->detail_bg_color|default='#bee6ee'} 0) bottom right;background-size: 100% 60%;background-repeat: no-repeat;">
                    <p class="title">{$item->star_name}+{$item->reward_num|default='0'}糖果</p>
                    <p class="info">要求：自身算力不低于{$item->energy|round=###,0}T<br/>团队实名{$item->cert_num|default='0'}人+团队贡献值{$item->energy_num}T</p>
                </div>
                <div class="yqfc_content_item_r {if $item->is_receive == '1' }already_get{/if} xj-content_r_bgk_1" style="background: radial-gradient(circle at top left, transparent 5px, {$item->receive_bg_color|default='#bee6ee'}  0) top left,
                radial-gradient(circle at bottom left, transparent 5px, {$item->receive_bg_color|default='#bee6ee'}  0) bottom left; background-size: 100% 60%;background-repeat: no-repeat;">
                    {if $item->is_receive == '1' }
                        <span onclick="mui.alert('已经领取');">已经领取</span>
                    {elseif $item->is_receive == '2'   /}
                        <span data-form="receive{$key}" onclick="ajaxReceive('{$item->id}')" style="color:#FFFFFF">立即领取</span>
                    {else /}
                        <span onclick="mui.alert('未达成就');">未达要求</span>
                    {/if}
                </div>
            </div>
        {/if}
        <!--</form>-->
        {/foreach}

        <!--<div class="yqfc_content_item flexbox wrap">-->
            <!--<div class="yqfc_content_item_l xj-content_l_bgk_1">-->
                <!--<p class="title">一星扶持</p>-->
                <!--<p class="info">团队5人+团队20总算力达标奖励50糖果</p>-->
            <!--</div>-->
            <!--<div class="yqfc_content_item_r already_get xj-content_r_bgk_1">-->
                <!--立即领取-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="yqfc_content_item flexbox wrap">-->
            <!--<div class="yqfc_content_item_l xj-content_l_bgk_2">-->
                <!--<p class="title">二星扶持</p>-->
                <!--<p class="info">团队10人+团队100总算力达标奖励100糖果</p>-->
            <!--</div>-->
            <!--<div class="yqfc_content_item_r  xj-content_r_bgk_2">-->
                <!--已经领取-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="yqfc_content_item flexbox wrap">-->
            <!--<div class="yqfc_content_item_l xj-content_l_bgk_3">-->
                <!--<p class="title">三星扶持</p>-->
                <!--<p class="info">团队30人+团队500总算力达标奖励500糖果</p>-->
            <!--</div>-->
            <!--<div class="yqfc_content_item_r  xj-content_r_bgk_3">-->
                <!--为达成就-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="yqfc_content_item flexbox wrap">-->
            <!--<div class="yqfc_content_item_l xj-content_l_bgk_4">-->
                <!--<p class="title">四星扶持</p>-->
                <!--<p class="info">团队10人+团队100总算力达标奖励100糖果</p>-->
            <!--</div><div class="yqfc_content_item_r  xj-content_r_bgk_4">-->
                <!--已经领取-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="yqfc_content_item flexbox wrap">-->
            <!--<div class="yqfc_content_item_l xj-content_l_bgk_5">-->
                <!--<p class="title">五星扶持</p>-->
                <!--<p class="info">团队10人+团队100总算力达标奖励100糖果</p>-->
            <!--</div>-->
            <!--<div class="yqfc_content_item_r  xj-content_r_bgk_5">-->
                <!--已经领取-->
            <!--</div>-->
        <!--</div>-->
    </div>

</div>
<div class="receive_reward" style="display: none">
    <h2>恭喜你</h2>
    <i class="close_icon"></i>
    <p class="candy">获得<em>0.2</em>糖果</p>
    <p><img src="/static/img/newimg/t1.png" alt=""></p>
    <p>已发放至 “糖果余额”</p>
    <p><i class="go_back"></i></p>
</div>
<div class="zhezhao_h"></div>
{include file="layout/footer" /}
{include file="layout/nav" /}

<script>
    $(".close_icon,.go_back").click(function () {
        $(".receive_reward").hide();
        $(".zhezhao_h").removeClass('zhezhao');
        window.location.reload();
    });
    function ajaxReceive(star_id) {
        if(!star_id){
            mui.alert("奖励不存在");
            return false;
        }
        mui.showLoading("处理中..", "div");
        $.ajax({
            url:"receive",
            type:"post",
            data:{
                star_id:star_id
            },
            dataType:'json',
            success:function(data){
                mui.hideLoading();
                $(".zhezhao_h").removeClass('zhezhao');
                $(".receive_reward").hide();
                if(data.code == 0)
                {
                    var reward_num = data.data;
                    $(".receive_reward .candy em").html(reward_num);
                    $(".receive_reward").show();
                    $(".zhezhao_h").addClass('zhezhao');
                }else{
                    mui.alert(data.message);
                    return false;
                }
            }
        });
    }

</script>
</body>
</html>

