<!DOCTYPE html>
<html lang="en">
<head>
    <!--申明当前页面的编码集-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--网页标题-->
    <title>邀请明细</title>
    {include file="layout/head" /}
</head>
<body  class="wdtd-body" style="background-color: #f4f4f4">
<header>
    <div class="header_bt">
        <div class="header_f"><a href="{:url('index')}" class="header_fh"></a></div>
        <div class="header_c">我的团队</div>
    </div>
    <div style="height: .74rem;clear: both;"></div>
</header>

<div class="wdtd-page">
    <div class="wdtd-view wdtd_top" id="commission_record">
        <span>累计收益：<em>{$commission_num} </em>糖果</span>
        <i class="right"></i>
    </div>
    <div class="wdtd-view wdtd_nav">
        <ul class="flexbox wrap">
            <li class="{if $Think.get.type == ''}active{/if}" id="type">
                <span>{$invite_one}</span>
                <span>直推人数</span><span><em></em></span>
            </li>
            <i class="line"></i>
            <li id="type1" class="{if $Think.get.type == '1'}active{/if}">
                <span>{$invite_two}</span>
                <span>间推人数</span>
                <span><em></em></span>
            </li>
            <!--<i class="line"></i>-->
            <!--<li id="type2" class="{if $Think.get.type == '2'}active{/if}">-->
                <!--<span>{$invite_no_cert}</span>-->
                <!--<span>未实名人数</span>-->
                <!--<span><em></em></span>-->
            <!--</li>-->
            <i class="line"></i>
            <li>
                <span>{$team_energy|round=###,0}</span>
                <span>团队贡献值</span>
                <span><em></em></span>
            </li>
        </ul>
    </div>
    <!--<div class="wdtd-view wdtd_search">-->
    <!--    <p><i class="ss_icon"></i><input type="text" class="input_line" placeholder="搜索/筛选"></p>-->
    <!--</div>-->
    {if count($list)>0}
    <div class="wdtd_con">
        <ul class="flexbox column flow_load">

            <!--<li class="wdtd-view">-->
                <!--<p class="first_line">-->
                    <!--<img src="/static/img/newimg/tx1.png" alt="">-->
                    <!--<span>18764654817</span>-->
                    <!--<i class="rz_icon"></i>-->
                <!--</p>-->
                <!--<p class="second_line">-->
                    <!--<span>算力数量：<em>52</em><i class="flash_icon"></i></span>-->
                    <!--<span>为你返利：<em>52.24</em><i class="tg_icon"></i></span>-->
                <!--</p>-->
            <!--</li>-->
            <!--<li class="wdtd-view">-->
                <!--<p  class="first_line">-->
                    <!--<img src="/static/img/newimg/tx2.png" alt="">-->
                    <!--<span>18764654817</span>-->
                    <!--<i class="wrz_icon"></i>-->
                <!--</p>-->
                <!--<p class="second_line">-->
                    <!--<span>算力数量：<em>52</em><i class="flash_icon"></i></span>-->
                    <!--<span>为你返利：<em>52.24</em><i class="tg_icon"></i></span>-->
                <!--</p>-->
            <!--</li>-->
        </ul>
    </div>
    {else /}
        <div class="show_on_content">
            <p><img src="/static/img/newimg/no_data_icon.png" alt=""></p>
            <p class="show_text">暂无内容</p>
        </div>
    {/if}
</div>

{include file="layout/footer" /}

<script>
    lazy_loading('invite_record?type={$Think.get.type}');

    document.getElementById('type').addEventListener('tap', function () {
        mui.openWindow({
            url: "{:url('invite_record')}",
            id: 'type',
        })
    })
    document.getElementById('type1').addEventListener('tap', function () {
        mui.openWindow({
            url: "{:url('invite_record?type=1')}",
            id: 'type1',
        })
    })
//    document.getElementById('type2').addEventListener('tap', function () {
//        mui.openWindow({
//            url: "{:url('invite_record?type=2')}",
//            id: 'type2',
//        })
//    })
    document.getElementById('commission_record').addEventListener('tap', function () {
        mui.openWindow({
            url: "{:url('commission_record')}",
            id: 'commission_record',
        })
    })
</script>
</body>
</html>
