<!DOCTYPE html>
<html lang="en">
<head>
    <!--申明当前页面的编码集-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--网页标题-->
    <title>邀请规则</title>
    {include file="layout/head" /}
</head>
<body>
<header>
    <div class="header_bt">
        <div class="header_f"><a href="javascript:history.back()" class="header_fh"></a></div>
        <div class="header_c blod">邀请规则</div>
    </div>
    <div style="height: .74rem;clear: both;"></div>
</header>
<div class="xsjc-page">
    <div class="xsjc_content">
        <h2>【1.什么是直推？】</h2>
        <p>直推是指的是您推荐的好友们。</p>
        <h2>【2.什么是间推？】</h2>
        <p>间推是指的是您下线推荐的好友们。</p>
        <h2>【3.什么是团队？】</h2>
        <p>团队指的是您的直推+间推的合称。</p>
        <h2>【4.推广好友实名了我能获得什么？】</h2>
        <p>直推1位好友完成了实名奖励1糖果<br>间推1位好友完成实名奖励1糖果。(上不封顶）</p>
        <h2>【5.推广好友租云空间我能获得什么？】</h2>
        <p>直推好友租用云空间返4%的购机费<br>间推好友租用云空间返2%的购机费。(上不封顶)</p>
         <h2>【6.推广好友首次主动购买糖果成功我能获得什么？】</h2>
        <p>直推好友首次主动购买糖果返10糖果<br>间推好友首次主动购买糖果返5糖果。(上不封顶)</p>
        <h2>【注意：】</h2>
        <p>1. 若发现用户有恶意作弊行为，一律封禁账号并销毁账户所有糖果。
          </p>
        <p>2. 官方保留最终解释权，如有疑问请咨询APP内客服人员</p>
    </div>
</div>
{include file="layout/footer" /}
</body>
</html>
