{extend name="layout/main" /}

{block name="header"}

{/block}

{block name="content"}
<section class="panel">
    <header class="panel-heading">
        <h4>闪兑管理</h4>
    </header>
    <div class="panel-body" style="padding-bottom: 50px">

        <form class="form-horizontal" action="{:url('index')}">
            <div class="form-group">
                <div class="col-xs-3">
                    <input type="text" value="{$Request.get.keyword}" name="keyword" class="form-control" placeholder="请输入手机号">
                </div>
                <button type="submit" class="btn btn-color">搜索</button>
            </div>
        </form>
        <table class="table table-bordered table-striped no-margin">
            <thead>
            <tr>
                <th class="text-center">订单编号</th>
                <th class="text-center">用户手机号</th>
                <th class="text-center">糖果数量</th>
                <th class="text-center">手续费</th>
                <th class="text-center">CNY数量</th>
                <th class="text-center">姓名</th>
                <th class="text-center">银行卡号</th>
                <th class="text-center">提交时间</th>
                <th class="text-center">订单状态</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            {foreach $list as $key=>$item}
            <tr>
                <td class="text-center" style="vertical-align: middle; ">{$item.order_no}</td>
                <td class="text-center" style="vertical-align: middle; ">{$item.mobile}</td>

                <td class="text-center" style="vertical-align: middle; ">
                    {$item.num|default='0'}
                </td>

                <td class="text-center" style="vertical-align: middle; ">
                    {$item.fee|default=''}
                </td>
                <td class="text-center" style="vertical-align: middle; ">
                    {$item.cny_num|default=''}
                </td>
                <td class="text-center" style="vertical-align: middle; ">
                    {if $item.real_name } <i class="fa-copy fa copy_btn" data-clipboard-text="{$item.real_name}"></i> {/if}{$item.real_name|default=''}
                </td>
                <td class="text-center" style="vertical-align: middle; ">
                    {if $item.card } <i class="fa-copy fa copy_btn" data-clipboard-text="{$item.card}"></i> {/if}{$item.card|default=''}
                </td>
                <td class="text-center" style="vertical-align: middle; ">
                    {$item.add_time|date="Y-m-d H:i:s"}
                </td>
                <td class="text-center" style="vertical-align: middle; ">
                     {if $item.status == 1}
                    已处理
                    {elseif $item.status == 2 /}
                    未处理
                    {else /}
                        等待处理
                    {/if}
                </td>
                <td class="text-center" style="vertical-align: middle; ">
                    <!--<a class="btn btn-xs btn-primary" href="/admin/Rebate/orderEdit?id={$item->id}">确认修改</a>-->
                    {if $item.status == 0}
                        <a data-url="{:url('confirm_order',['id'=>$item->id,'status'=>1])}" onclick="main.ajaxDelete(this)"
                           data-msg="确认已处理吗？" class="btn btn-xs btn-info">已处理</a>
                        <a data-url="{:url('confirm_order',['id'=>$item->id,'status'=>2])}" onclick="main.ajaxDelete(this)"
                           data-msg="确认未处理吗？" class="btn btn-xs btn-danger">未处理</a>
                    {/if}

                </td>
            </tr>
            {/foreach}
            </tbody>

        </table>
        <div class="page">
            {:htmlspecialchars_decode($list)}
        </div>
    </div>
</section>
{/block}


{block name="footer"}
<script src="/static/js/clipboard.min.js"></script>
<script>
    var clipboard = new Clipboard('.copy_btn');
    clipboard.on('success', function(e) {
        alert('复制成功', '');
        e.clearSelection();
    });

</script>
{/block}