{extend name="layout/main" /}

{block name="header"}

{/block}

{block name="content"}
<section class="panel">
    <header class="panel-heading">
        <h4>转盘管理</h4>
    </header>
    <div class="panel-body" style="padding-bottom: 50px">
        <div class="form-group">
            <a type="button" href="/admin/Turntable/turntableEdit" class="btn btn-info">添加糖果</a>
        </div>
        <table class="table table-bordered table-striped no-margin">
            <thead>
            <tr>
                <th class="text-center">排序</th>
                <th class="text-center">图标</th>
                <th class="text-center">数量</th>
                <th class="text-center">说明</th>
                <th class="text-center">是否开启</th>
                <th class="text-center">是否中奖</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            {foreach $list as $key=>$item}
            <tr>
                <td class="text-center" style="vertical-align: middle; ">{$item->sort}</td>

                <td class="text-center" style="vertical-align: middle; ">
                
                     <img src="{$item->img}" alt="" style="width:60px;height: 60px">

                </td>
                <td class="text-center" style="vertical-align: middle; ">
                    {$item->num}糖果
                </td>
                <td class="text-center" style="vertical-align: middle; ">
                    {$item->des}
                </td>
                <td class="text-center" style="vertical-align: middle; ">
                     {if $item->status == 1}
                       开启
                        {else /}
                        关闭
                    {/if}
                </td>
                <td class="text-center" style="vertical-align: middle; ">
                    {if $item->is_drawn == 1}
                        能中奖
                    {else /}
                        不能中奖
                    {/if}
                </td>
                <td class="text-center" style="vertical-align: middle; ">
                    <a class="btn btn-xs btn-primary" href="/admin/Turntable/turntableEdit?id={$item->id}">确认修改</a>
                    {if $item->status == 1}
                    <a class="btn btn-xs btn-danger" data-url="{:url('turntableStatus',['id'=>$item->id,'status'=>0])}" onclick="main.ajaxDelete(this)" data-msg="确定禁用吗？">禁用</a>
                    {else /}
                    <a class="btn btn-xs btn-primary" data-url="{:url('turntableStatus',['id'=>$item->id,'status'=>1])}" onclick="main.ajaxDelete(this)" data-msg="确定解禁吗？">解禁</a>
                    {/if}
                    {if $item->is_drawn == 1}
                    <a class="btn btn-xs btn-danger" data-url="{:url('turntableDrawn',['id'=>$item->id,'is_drawn'=>0])}" onclick="main.ajaxDelete(this)" data-msg="确定关闭中奖吗？">关闭中奖</a>
                    {else /}
                    <a class="btn btn-xs btn-primary" data-url="{:url('turntableDrawn',['id'=>$item->id,'is_drawn'=>1])}" onclick="main.ajaxDelete(this)" data-msg="确定开启中奖吗？">开启中奖</a>
                    {/if}
                     <a data-url="{:url('Turntable/turntableDel',['id'=>$item->id])}" onclick="main.ajaxDelete(this)"
                       data-msg="确定要删除该吗？" class="btn btn-xs btn-danger">删除</a>
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>

    </div>
</section>
{/block}


{block name="footer"}

{/block}