{foreach $list as $key=>$item}
<div class="fbdd-f wym_cx">
    <ul class="flexbox column">
        <li>
            <span class="title">正在交易中</span>
            <span>{$item.create_time|date="m-d H:i"}</span>
        </li>
        <li>
            <span>数量：{$item.number}糖果</span>
            <span class="red_color">
                {if $item.types == '1'}买{else /}卖{/if}单</span>
        </li>
        <li>
            <span>单价：1 CNY</span>
            <span class="red_color">{$item.number}  CNY</span>
        </li>
        <li class="zfb_li">
            <span><i class="zfb_icon"></i></span>
            {if $item.order_status == 1}
                <span>
                    {if $item.types == '1'}
                        <a href="{:url('buy_detail',array('order_id'=>$item['id']))}" class="m2_bgk">详情</a>
                    {else /}
                        <a href="{:url('sale_detail',array('order_id'=>$item['id']))}" class="m1_bgk">详情</a>
                     {/if}
                </span>
            {else /}
                <span class="is_order_status">
                    {if $item.types == '1'}
                        <em  class="m2_bgk">详情</em>
                    {else /}
                        <em  class="m1_bgk">详情</em>
                     {/if}
                </span>
            {/if}

        </li>
    </ul>
</div>
<!--<div class="fbdd-f wym_cx">-->
    <!--<ul class="flexbox column">-->
        <!--<li>-->
            <!--<span class="title">正在交易中</span>-->
            <!--<span>04-18 03:08</span>-->
        <!--</li>-->
        <!--<li>-->
            <!--<span>数量：50糖果</span>-->
            <!--<span class="red_color">买单</span>-->
        <!--</li>-->
        <!--<li>-->
            <!--<span>单价：610 USDT</span>-->
            <!--<span class="red_color">610 USDT</span>-->
        <!--</li>-->
        <!--<li class="zfb_li">-->
            <!--<span><i class="zfb_icon"></i></span>-->
            <!--<span><a href="mj1ddxq.html" class="m2_bgk">详情</a></span>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->
{/foreach}