<!DOCTYPE html>
<html lang="en">
<head>
    <!--申明当前页面的编码集-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--网页标题-->
    <title>法币订单</title>
    {include file="layout/head" /}
</head>
<body style="background-color: #f5f5f5">
<header>
    <div class="header_bt">
        <div class="header_f"><a href="javascript:history.back()" class="header_fh"></a></div>
        <div class="header_c">法币订单</div>
    </div>
    <div style="height: .74rem;clear: both;"></div>
</header>
<div class="fbdd-page">
    <input type="hidden" name="mui-tab-item" value="3">
    <div class="fbdd-qhzt">
        <span class="active">进行中</span>
        <span id="finish">已完成</span>
        <span id="expired">未完成</span>
    </div>

    {if count($list)>0}
        <div class="flow_load">
            {foreach $list as $item}

            {/foreach}
        </div>
     {else /}

    <div class="show_on_content">
        <p><img src="/static/img/newimg/no_data_icon.png" alt=""></p>
        <p class="show_text">暂无内容</p>
    </div>
    {/if}

</div>
<div class="order_tips_pop jf_pop" style="display: none">
    <div class="order_tips_pop_view">
        <p class="title">解封提示</p>
        <p>您有匹配成功的买入订单未及时付款，需缴纳{$trade_fine_num}糖果作为罚金才能开放交易</p>
        <p class="btn">
            <span class="confirm float_l">确定</span>
            <span class="cancel float_r">取消</span>
        </p>
    </div>
</div>
<div class="order_tips_pop ye_pop" style="display: none">
    <div class="order_tips_pop_view">
        <p class="title">余额不足</p>
        <p>您的账户余额不足{$trade_fine_num}糖果不能解封，您可以联系上级或者其他好友给你转账</p>
        <p class="btn text_center">
            <span>确定</span>
        </p>
    </div>
</div>
<div class="order_tips_pop ch_pop" style="display: none">
    <div class="order_tips_pop_view">
        <p class="title">解封成功</p>
        <p>您已经解封成功了，多次匹配恶意不付款将会永久封停不可解封，请知晓</p>
        <p class="btn text_center">
            <span>确定</span>
        </p>
    </div>
</div>
<div class="zhezhao_h"></div>

{include file="layout/footer" /}
{include file="layout/nav" /}
<script>
    lazy_loading('index');
    document.getElementById('finish').addEventListener('tap', function () {
        mui.openWindow({
            url: "{:url('finish')}",
            id: 'finish',
        })
    });
    document.getElementById('expired').addEventListener('tap', function () {
        mui.openWindow({
            url: "{:url('expired')}",
            id: 'expired',
        })
    });
    var is_order_status = "{$order_status}";
    if(is_order_status == -1){
        $(".zhezhao_h").addClass('zhezhao');
        $(".jf_pop").show();
    }
    $(".fbdd-page .flow_load").on('click','.is_order_status',function () {
        $(".zhezhao_h").addClass('zhezhao');
        $(".jf_pop").show();
    });
    $(".order_tips_pop .cancel,.ye_pop .text_center").click(function () {
        window.location.href = '/index/member/index';
    });
    $(".ch_pop .text_center").click(function () {
        $(".order_tips_pop").hide();
        $(".zhezhao_h").removeClass('zhezhao');
        window.location.reload();
    });
    /*解封*/
    $(".jf_pop .confirm").click(function () {

        mui.showLoading("处理中..", "div");
        $.ajax({
            url:"unblock",
            type:"post",
            data:{
            },
            dataType:'json',
            success:function(data){
                mui.hideLoading();
                $(".zhezhao_h").removeClass('zhezhao');
                $(".jf_pop").show();
                if(data.code == 0)
                {
                    $(".zhezhao_h").addClass('zhezhao');
                    $(".ch_pop").show();
                }else if(data.code == 2){
                    $(".zhezhao_h").addClass('zhezhao');
                    $(".ye_pop").show();
                }else{
                    mui.alert(data.message);
                    return false;
                }
            }
        })
    });
</script>
</body>
</html>

