{extend name="layout/main" /}

{block name="header"}

{/block}

{block name="content"}
<section class="panel">
    <header class="panel-heading">
        <h4>星级配置</h4>
    </header>
    <div class="panel-body" style="padding-bottom: 50px">
        <div class="form-group">
                
                <a type="button" href="/admin/Star/starAdd" class="btn btn-info">添加星级配置</a>
            </div>
        <table class="table table-bordered table-striped no-margin">
            <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">星级名称</th>
                <th class="text-center">星级数</th>
                <th class="text-center">详情背景色</th>
                <th class="text-center">领取背景色</th>
                <th class="text-center">星级推广要求</th>
                <th class="text-center">奖励糖果</th>
                <th class="text-center">排序</th>
                <th class="text-center">是否开启</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            {foreach $list as $key=>$item}
            <tr>
                <td class="text-center" style="vertical-align: middle; ">{$item->id}</td>

                <td class="text-center" style="vertical-align: middle; ">
                    {$item->star_name}
                </td>
                <td class="text-center" style="vertical-align: middle; ">
                    {$item->k}星达人
                </td>
                <td class="text-center" style="vertical-align: middle; ">
                    {$item->detail_bg_color}
                </td>
                <td class="text-center" style="vertical-align: middle; ">
                    {$item->receive_bg_color}
                </td>
                <td class="text-center" style="vertical-align: middle; ">
                    团队总人数({$item->cert_num})+团队贡献值({$item->energy_num}))+本人算力({$item->energy})
                </td>

                <td class="text-center" style="vertical-align: middle; ">
                    {$item->reward_num}
                </td>
                <td class="text-center" style="vertical-align: middle; ">
                    {$item->sort}
                </td>
                <td class="text-center" style="vertical-align: middle; ">

                     {if $item->status == 1}
                           开启
                            {else /}
                    关闭
                        {/if}
                </td>

                <td class="text-center" style="vertical-align: middle; ">
                    <a class="btn btn-xs btn-primary" href="/admin/Star/starEdit?id={$item->id}">确认修改</a>
                    {if $item->status == 1}
                        <a class="btn btn-xs btn-danger" data-url="{:url('starStatus',['id'=>$item->id,'status'=>0])}" onclick="main.ajaxDelete(this)" data-msg="确定禁用吗？">禁用</a>
                    {else /}
                        <a class="btn btn-xs btn-primary" data-url="{:url('starStatus',['id'=>$item->id,'status'=>1])}" onclick="main.ajaxDelete(this)" data-msg="确定解禁吗？">解禁</a>
                    {/if}
                     <a data-url="{:url('Star/starDel',['id'=>$item->id])}" onclick="main.ajaxDelete(this)"
                       data-msg="确定要删除该吗？" class="btn btn-xs btn-danger">删除</a>
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>

    </div>
</section>
{/block}


{block name="footer"}

{/block}