{extend name="layout/main" /}

{block name="header"}

{/block}

{block name="content"}
<section class="panel">
    <header class="panel-heading">
        <h4>返利管理</h4>
    </header>
    <div class="panel-body" style="padding-bottom: 50px">
        <div class="form-group">
                
                <!--<a type="button" href="/admin/Rebate/orderAdd" class="btn btn-info">添加返利订单</a>-->
            </div>
        <table class="table table-bordered table-striped no-margin">
            <thead>
            <tr>
                <th class="text-center">订单编号</th>
                <th class="text-center">用户手机号</th>
                <th class="text-center">商品标题</th>
                <th class="text-center">商品图片</th>
                <th class="text-center">付款金额</th>
                <th class="text-center">付款预估收入</th>
                <th class="text-center">创建时间</th>
                <th class="text-center">订单状态</th>
                <!--<th class="text-center">操作</th>-->
            </tr>
            </thead>
            <tbody>
            {foreach $list as $key=>$item}
            <tr>
                <td class="text-center" style="vertical-align: middle; ">{$item.order_no}</td>
                <td class="text-center" style="vertical-align: middle; ">{$item.mobile}</td>

                <td class="text-center" style="vertical-align: middle; ">
                    {$item.title|default=''}
                </td>
                <td class="text-center" style="vertical-align: middle; ">
                    <img src=" {$item.img|default=''}" style="width: 80px;width: 80px" alt="">
                </td>
                <td class="text-center" style="vertical-align: middle; ">
                    {$item.order_price|default=''}
                </td>
                <td class="text-center" style="vertical-align: middle; ">
                    {$item.pre_income|default=''}
                </td>
                <td class="text-center" style="vertical-align: middle; ">
                    {$item.add_time|date="Y-m-d H:i:s"}
                </td>
                <td class="text-center" style="vertical-align: middle; ">

                     {if $item.status == 1}
                    进行中
                    {elseif  $item.status == 2/}
                    未领取
                    {elseif  $item.status == 3/}
                    已领取
                    {else /}
                        已失效
                    {/if}
                </td>
                <!--<td class="text-center" style="vertical-align: middle; ">-->
                    <!--<a class="btn btn-xs btn-primary" href="/admin/Rebate/orderEdit?id={$item->id}">确认修改</a>-->
                     <!--<a data-url="{:url('Rebate/orderDel',['id'=>$item->id])}" onclick="main.ajaxDelete(this)"-->
                       <!--data-msg="确定要删除该吗？" class="btn btn-xs btn-danger">删除</a>-->
                <!--</td>-->
            </tr>
            {/foreach}

            </tbody>

        </table>
        <div class="page">
            {:htmlspecialchars_decode($page)}
        </div>
    </div>
</section>
{/block}


{block name="footer"}

{/block}