{extend name="layout/main" /}

{block name="header"}

{/block}

{block name="content"}
<section class="panel">
    <header class="panel-heading">
        <h4>空间列表</h4>
    </header>
    <div class="panel-body" style="padding-bottom: 50px">
        <!--<form class="form-horizontal" action="">-->
            <!--<div class="form-group">-->
                <!--<div class="col-xs-3">-->
                    <!--<input type="text" value="{$Request.get.keyword}" name="keyword" class="form-control" placeholder="请输入会员昵称/电话号码搜索">-->
                <!--</div>-->
                <!--<button type="submit" class="btn btn-color">搜索</button>-->
                <!--<a type="button" href="/admin/user/create" class="btn btn-info">添加会员</a>-->
            <!--</div>-->
        <!--</form>-->
        <div class="form-group">
            <a type="button" href="/admin/product/edit" class="btn btn-info">添加空间</a>
        </div>
        <table class="table table-bordered table-striped no-margin">
            <thead>
            <tr>
                <th class="text-center">id</th>
                <th class="text-center">空间名称</th>
                <th class="text-center">空间logo</th>
                <th class="text-center">算力数</th>
                <th class="text-center">最多可持有数量</th>
                <th class="text-center">糖果价格</th>
                <th class="text-center">返还</th>
                <th class="text-center">背景色</th>
                <th class="text-center">周期</th>
                <th class="text-center">状态</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            {if !empty($list)}
                {foreach $list as $entity}
                <tr>
                <form class="form-horizontal" method="post" onsubmit="return false" role="form">
                    <td class="text-center">{$entity->id}</td>
                    <td class="text-center">{$entity->product_name}</td>
                    <td class="text-center"><img src="{$entity->logo_url}" style="width: 80px;height: 80px;"></td>
                    <td class="text-center">{$entity->energy_num}</td>
                    <td class="text-center">{$entity->hold_num}</td>
                    <td class="text-center">
                        <p>消耗糖果数：{$entity->candy_num}</p>
                        <p>返还糖果数：{$entity->return_candy_num}</p>
                    </td>
                    <td class="text-center">
                        <p><span>一级租用返还：{$entity->level_one_return_candy}  </span></p>
                        <p><span>二级租用返还：{$entity->level_two_return_candy}</span></p>
                    </td>
                    <td class="text-center">{$entity->bg_color}</td>
                    <td class="text-center">{$entity->period}天</td>
                    {if $entity->status == 1}
                        <td class="text-center">上架</td>
                        {else /}
                        <td class="text-center">下架</td>
                    {/if}
                    <td class="text-center">
                        <a href="{:url('product/edit',['id'=>$entity->id])}" class="btn btn-xs btn-info">编辑</a>
                        {if $entity->status == 1}
                            <a data-url="{:url('product/shelve',['id'=>$entity->id])}" onclick="main.ajaxDelete(this)" data-msg="确定要下架此空间吗？" class="btn btn-xs btn-danger">下架</a>
                        {else /}
                            <a data-url="{:url('product/downShelve',['id'=>$entity->id])}" onclick="main.ajaxDelete(this)" data-msg="确定要上架此空间吗？" class="btn btn-xs btn-success">上架</a>
                        {/if}
                    </td>
                    </form>
                </tr>
                {/foreach}
            {else /}
            <tr class="text-center">
                <td colspan="5">暂无数据</td>
            </tr>
            {/if}
            </tbody>
        </table>
        <div class="page">
            {$list->render()|raw}
        </div>
    </div>
</section>
{/block}


{block name="footer"}

{/block}