{extend name="layout/main" /}

{block name="header"}

{/block}

{block name="content"}
<section class="panel">
    <header class="panel-heading">
        <h4>修改轮播</h4>
    </header>
    <div class="panel-body" style="padding-bottom: 50px" >
        <form class="form-horizontal" method="post" action="/admin/Config/sladdss" role="form" enctype="multipart/form-data">
            <div class="form-group">
                <label class="col-sm-2 control-label">跳转链接</label>

                <div class="col-sm-5">
                    <input type="text" value="{$info.url}" name="url" class="form-control"
                           placeholder="跳转链接加http://">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">轮播图</label>

                <div class="col-sm-5">
                     <input type="file" name="img" id="">
                </div>
            </div>
            <input type="hidden" name="id"  value="{$info.id}">
          
            <div class="form-group">
                <label class="col-sm-2 control-label">显示位置</label>

                <div class="col-sm-2">
                   <select name="types" class="form-control">
                   	   <option value="1"   {if $info.types == 1} selected  {/if}>首页</option>
                   	   <option value="2"   {if $info.types == 2} selected  {/if}>任务页</option>
                   	   <option value="3"   {if $info.types == 3} selected  {/if}>邀请页</option>
                   </select>
                </div>

               
            </div>
            
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" name="sub"  class="btn btn-primary">修改
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
{/block}


{block name="footer"}
    <script src="/admin/vendor/fuelux/checkbox.js"></script>
{/block}