{extend name="layout/main" /}

{block name="header"}

{/block}

{block name="content"}
<section class="panel">
    <header class="panel-heading">
        <h4>{if $type == 1}求购订单{/if}{if $type == 2}出售订单{/if}</h4>
    </header>
    <div class="panel-body" style="padding-bottom: 50px">
        <form class="form-horizontal" {if $type == 1}action="{:url('admin/order/index')}"{/if} {if $type == 2}action="{:url('admin/order/show')}"{/if} >
            <div class="form-group">
                <div class="col-xs-1 no-pd-r">
                    <select name="level" class="form-control">
                        <option  value="0">全部状态</option>
                        <option {if $Request.get.level == 1} selected {/if} value="1">等待匹配</option>
                        <option {if $Request.get.level == 2} selected {/if} value="2">等待付款</option>
                        <option {if $Request.get.level == 3} selected {/if} value="3">等待收款</option>
                        <option {if $Request.get.level == 4} selected {/if} value="4">交易完成</option>
                        <option {if $Request.get.level == 5} selected {/if} value="5">交易失败</option>
                        <option {if $Request.get.level == 6} selected {/if} value="6">投诉中</option>
                    </select>
                </div>
                <div class="col-xs-1 no-pd-r">
                    <select name="type" class="form-control">
                        <option {if $Request.get.type == 'mobile'} selected {/if} value="mobile">电话号码</option>
                        <option {if $Request.get.type == 'number'} selected {/if} value="number">订单编号</option>
                    </select>
                </div>
                <div class="col-xs-3 no-pd-l">
                    <input type="text" value="{$Request.get.keyword}" name="keyword" class="form-control" placeholder="请输入关键词搜索">
                </div>
                <button type="submit" class="btn btn-color">搜索</button>
            </div>
        </form>
        <table class="table table-bordered table-striped no-margin">
            <thead>
                <tr>
                    <th class="text-center">订单number</th>
                    <th class="text-center">用户信息</th>
                    <th class="text-center">数量（糖果）</th>
                    <th class="text-center">交易单价（CNY）</th>
                    <th class="text-center">交易总额</th>
                    <th class="text-center">交易状态</th>
                    <th class="text-center">创建时间</th>
                    <th class="text-center">操作</th>
                </tr>
            </thead>
            <tbody>
            {if $list}
                {foreach $list as $order}
                    <tr>
                        <td class="text-center">{$order->order_number}</td>
                        <td class="text-center">
                            姓名：{$order->real_name}<br>
                            电话：{$order->mobile}
                        </td>
                        <td class="text-center">
                            {$order->number}
                        </td>
                        <td class="text-center">
                            1 CNY
                        </td>
                        <td class="text-center">
                           {$order->number} CNY
                        </td>
                        <td class="text-center">
                            {$order->getStatus()}
                        </td>
                        <td class="text-center">
                            {$order->create_time|date="Y-m-d H:i:s"}
                        </td>
                        <td class="text-center">
                            <a class="btn btn-xs btn-primary" href="{:url('order/detail',['id'=>$order->id])}">详细</a>
                            {if $order->status == 1 || $order->status == 2}
                                <a class="btn btn-xs btn-danger" data-msg="确定要取消此订单吗" onclick="main.ajaxDelete(this)"  data-url="{:url('order/delete',['id'=>$order->id])}">取消订单</a>
                            {/if}
                            {if $order->status == 3}
                                <a class="btn btn-xs btn-danger" data-msg="确定进行此操作吗" onclick="main.ajaxDelete(this)" data-url="{:url('order/update',['id'=>$order->id])}">确认收款</a>
                            {/if}
                            {if $order->status == 6}
                                <a class="btn btn-xs btn-danger" data-msg="确定要取消此订单吗" onclick="main.ajaxDelete(this)"  data-url="{:url('order/delete',['id'=>$order->id])}">取消订单</a>
                                <a class="btn btn-xs btn-danger" data-msg="确定进行此操作吗" onclick="main.ajaxDelete(this)" data-url="{:url('order/update',['id'=>$order->id])}">确认收款</a>
                            {/if}
                        </td>
                    </tr>
                {/foreach}
            {else /}
                <tr class="text-center">
                    <td colspan="8">暂无数据</td>
                </tr>
            {/if}
            </tbody>
        </table>
        <div class="page">
            {$list->render()|raw}
        </div>
    </div>
</section>
{/block}


{block name="footer"}

{/block}