{extend name="layout/main" /}

{block name="header"}

{/block}

{block name="content"}
<section class="panel">
    <header class="panel-heading">
        <h4>类型管理</h4>
    </header>
    <div class="panel-body" style="padding-bottom: 50px">
        <div class="form-group">
            <a type="button" href="/admin/Cate/cateAdd" class="btn btn-info">添加类型</a>
        </div>
        <table class="table table-bordered table-striped no-margin">
            <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">略缩图</th>
                <th class="text-center">类型名称</th>
                <th class="text-center">排序</th>
                <th class="text-center">是否开启</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            {foreach $list as $key=>$item}
            <tr>
                <td class="text-center" style="vertical-align: middle; ">{$item->id}</td>

                <td class="text-center" style="vertical-align: middle; ">
                
                     <img src="{$item->img}" alt="" style="width:150px;">

                </td>
                <td class="text-center" style="vertical-align: middle; ">
                    {$item->cate_name}
                </td>
                <td class="text-center" style="vertical-align: middle; ">
                    {$item->sort}
                </td>
                <td class="text-center" style="vertical-align: middle; ">
                    
                    

                     {if $item->status == 1}
                           开启
                            {else /}
                    关闭
                        {/if}
                </td>

                <td class="text-center" style="vertical-align: middle; ">
                    <a class="btn btn-xs btn-primary" href="/admin/Cate/cateEdit?id={$item->id}">确认修改</a>

                     <a data-url="{:url('Cate/cateDel',['id'=>$item->id])}" onclick="main.ajaxDelete(this)"
                       data-msg="确定要删除该吗？" class="btn btn-xs btn-danger">删除</a>
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>

    </div>
</section>
{/block}


{block name="footer"}

{/block}