<div style="height: .9rem;"></div>
<div class="footer_main">
    <ul>
        <a href="{:url('shop/index','','',true)}">
            <li class="footer_f1 mui-item">
                购物
            </li>
        </a>
        <a href="{:url('product/index','','',true)}">
            <li class="footer_f2 mui-item">
                矿场
            </li>
        </a>

        <a href="{:url('deal/index','','',true)}">
            <li class="footer_f3 mui-item">
                <!--{if $is_finish_trade == 1}-->
                <!--    <i class="red_icon"></i>-->
                <!--{/if}-->
            交易
            </li>
        </a>
        <a href="{:url('welfare/index','','',true)}">
            <li class="footer_f4 mui-item">
                应用
            </li>
        </a>
        <a href="{:url('member/index','','',true)}">
            <li class="footer_f5 mui-item">
                我的
            </li>
        </a>
    </ul>
</div>
