<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
    {include file="layout/head" /}
</head>
<style type="text/css">
    .font {
        width: 72%;
        height: auto;
        margin: 0 auto;
    }
</style>
<body style="background:white;">
<header class="mui-bar mui-bar-nav my-header" style="background-color: #17c3e5ssss">
    <a href="/index/member/index" class="mui-icon mui-icon-left-nav mui-pull-left"></a>

    <h1 id="title" class="mui-title">关于我们</h1>
</header>
<div class="mui-content" style="background: white;">
    <div class="img" style="text-align: center;">
        <img src="/static/img/logo5.png" style="width: 25%;margin-top: 20px;"/>
    </div>
    <div class="font">
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CBE晶盒能源是由英国IUK团队开发。团队前期通过模拟智能手机、电脑、智能家电等智能设备的工作算力产出晶石，平台不参与任何交易，以非盈利性为目的，记录智能设备的耗能数据，并将所有耗能数据上传到能源数据系统，从而后期研发出自己独有的芯片模块，并将模块应用到所有智能设备，使智能设备具有电补偿功能，用户在使用这些日常设备过程中同时享受能源的耗能补偿，让所有用户意识到能源的价值，参与能源生态的建设和发展。

        </p>
    </div>
</div>
{include file="layout/footer" /}
</body>
</html>