{foreach $list as $item}
<li>
    <input type="hidden" value="{$item->id}">
    <p class="first_child">
        {if ($item.magic) < 0}
            <i class="sr1_icon"></i>
            <span>{$item->types}</span>
            <span>{$item->show_magic}糖果</span>
        {else /}
            <i class="sr2_icon"></i>
            <span>{$item->types}</span>
            <span>+{$item->show_magic}糖果</span>
        {/if}
    </p>
    <p style="margin-left: .9rem;">{$item->create_time|date="H:i:s"}</p>
</li>
{/foreach}