<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>我的晶盒</title>
	    <!--head-->
	    {include file="layout/head" /}
	</head>
	<body>
		<header class="mui-bar mui-bar-nav  my-header" style="background-color: #17c3e5">
			<a href="/index/member/index" class="mui-icon mui-icon-left-nav mui-pull-left" style="color: black;"></a>
			<h1 id="title" class="mui-title">我的晶盒</h1>
		</header>
		<div class="mui-content">
			{foreach $magicList as $list}
			<div class="mohe-list">
				<div class="mohe-list-img">
					<img src="{$list->image_url}">
				</div>
				<div class="mohe-list-content">
					<p><span>名称:</span><span>{$list->product_name}</span></p>
					<p><span>价格:</span><span>{$list->price}</span></p>
					<p><span>周期:</span><span>{$list->period}天</span></p>
					<p><span>开采率:</span><span>{:number_format($list->rate_min, 3)}kb/s-{:number_format($list->rate_max, 3)}kb/s</span></p>
					<p><span>日产量:</span><span>{$list->yield_min}-{$list->yield_max}糖果</span></p>
					<p><span>购买时间:</span><span>{$list->getBuyTime()}</span></p>
					<p><span>状态:</span><span>{if $list->status == 1}运行中{else /}已过期{/if}</span></p>
				</div>
			</div>
			{/foreach}
		</div>
	</body>
	{include file="layout/footer" /}

</html>