<!DOCTYPE html>
<html lang="en">
<head>
    <!--申明当前页面的编码集-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--网页标题-->
    <title>资金密码</title>
    {include file="layout/head" /}
</head>
<body>
<header>
    <div class="header_bt">
        <div class="header_f"><a href="{:url('member/set')}" class="header_fh"></a></div>
        <div class="header_c">资金密码</div>
    </div>
    <div style="height: .74rem;clear: both;"></div>
</header>
<input type="hidden" name="mui-tab-item" value="5">
<form action="{:url('member/safePassword')}" onsubmit="return false"  id="change-password-form" method="post">

<div class="zjmm-page">
    <ul class="flexbox column">
        <li>
            <input type="password" name="new_pwd" class="input_line required" placeholder="新的资金密码">
            <i class="eye" onclick="openeye($(this))"></i>
        </li>
        <li>
            <input type="password" name="confirm_pwd" class="input_line required"  placeholder="新的确认密码">
            <i class="eye" onclick="openeye($(this))"></i>
        </li>
        <li>
            <input type="password" name="old_pwd" class="input_line required"  placeholder="旧密码">
            <i class="eye" onclick="openeye($(this))"></i>
        </li>
        <li class="no_show_line">
            <input type="text" class="input_line" id="mobile"  name="mobile" readonly value="{$list->mobile}">
        </li>
        <!--<li>-->
            <!--<input type="text" name="code" class="input_line show_line" style="width: 3.9rem;" placeholder="手机验证码">-->
            <!--<button class="send-code" data-url="{:url('publics/sendChange',array('token'=>$token))}" data-form="change-password-form" data-mobile="mobile" onclick="sendCode(this)"-->
                    <!--id="send-code">发送验证码</button>-->
        <!--</li>-->
    </ul>
</div>
</form>

<div class="zjmm_btn">
    <button class="button_btn" data-form="change-password-form" onclick="ajaxPost(this)"
             data-loading-text="登录中">确定</button>
    <p id="by_code">忘记资金密码?</p>
</div>

{include file="layout/nav" /}
{include file="layout/footer" /}
<script>
    document.getElementById('by_code').addEventListener('tap', function () {
        mui.openWindow({
            url: "{:url('member/safepasswordByCode')}",
            id: 'by_code',
        })
    })
</script>
</body>
</html>

