<!DOCTYPE html>
<html lang="en">
<head>
    <!--申明当前页面的编码集-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--网页标题-->
    <title>个人信息</title>
    {include file="layout/head" /}
</head>
<body style="background-color: #f7f7f7">
<header>
    <div class="header_bt">
        <div class="header_f"><a href="{:url('index')}" class="header_fh"></a></div>
        <div class="header_c">个人信息</div>
    </div>
    <div style="height: .74rem;clear: both;"></div>
</header>
<div class="grxx-page">
    <input type="hidden" name="mui-tab-item" value="5">
    {if  $list->avatar}
        <img src="{$list->avatar}" id="avatar" alt="">
    {else /}
        <img src="/static/img/newimg/touxiang.png" id="avatar" alt="">
    {/if}
    <input type="file" id="file" name="image" style="display: none;">
    <div class="grxx_content">
        <ul class="flexbox column">

            <a href="javascript:;">
                <li>
                    <span>手机号</span>
                    <span>{$list->show_mobile}</span>
                </li>
            </a>
            <a href="/index/member/certification">
                <li>
                    <span>姓名</span>
                    <span>
                        {if $list->is_certification == 1}
                            已认证
                        {elseif $list->is_certification == -1/}
                            未认证
                        {elseif $list->is_certification == 2/}
                            认证失败
                        {/if}
                        <i class="arrow_r"></i>
                    </span>
                </li>
            </a>
            <a href="/index/member/password">
                <li>
                    <span>登录密码</span>
                    <span>修改<i class="arrow_r"></i></span>
                </li>
            </a>


            <a href="/index/member/safepassword_view">
                <li>
                <span>资金密码</span>
                <span>修改<i class="arrow_r"></i></span>
                </li>
            </a>

            <a href="/index/member/zfb">
                <li>
                    <span>支付宝</span>
                    <span>{$list->zfb|default="绑定"}<i class="arrow_r"></i></span>
                </li>
            </a>
        </ul>
    </div>
</div>
<div class="grxx_btn">
    <button class="button_btn" onclick="logout()">退出登录</button>
</div>
{include file='layout/footer'}
{include file='layout/nav'}
<script>
    function logout(){
        window.location.href = "{:url('member/logout')}";
    }
    $("#avatar").click(function(){
        $("#file").click();
    });
    $("#file").change(function(){
        var $this = $(this);
        var file = this.files[0];
        if(file.length == 0)
        {
            mui.alert("请选择要上传的图片");
            return false;
        }
        var data = new FormData();
        data.append('image',file);
        // console.log(data);return false;
        mui.showLoading("正在上传头像...");
        $.ajax({
            url:"/index/upload/uploadEditor",
            type:"post",
            data:data,
            processData:false,
            contentType:false,
            dataType:'json',
            success:function(data){
                var url = data.data[0];
                if(data.errno == 0)
                {
                    mui.showLoading("头像上传成功，正在保存...");
                    $.ajax({
                        url:"/index/member/updateUser",
                        type:"post",
                        data:{'avatar' : data.data[0]},
                        dataType:'json',
                        success:function(data){
                            mui.alert(data.message);
                            if(data.code == 0)
                            {
                                mui.hideLoading();
                                $("#avatar").attr("src", url);
                            }
                        }
                    })
                }
                else
                {
                    mui.alert(data.fail);
                }
            }
        })
    })
</script>
</body>
</html>

