<!doctype html>
<html>
<head>
    <title>招募</title>
    {include file="layout/head" /}
</head>
<header>
    <div class="header_bt" style="background-color: seagreen">
        <div class="header_f"><a href="{:url('index/invite/index')}" class="header_fh"></a></div>
        <div class="header_c" style="color: #fff">分享</div>
    </div>
    <div style="height: .74rem;clear: both;"></div>
</header>
<body class="spread-body">


<div class="swiper-container spread-page">
    <div class="swiper-wrapper">
        {foreach  $bg_img as $item }
        <div class="swiper-slide">
            <img src="{$item->img}" class="bg_qrcode_img" alt="">
            <img src="{:url('qrcode_img')}" class="spread_qrcode_img" alt="">
        </div>
        {/foreach}
    </div>
    <div class="swiper-pagination"></div>
</div>

{include file="layout/footer" /}
</body>
<script>
    var mySwiper = new Swiper('.spread-page',{
        pagination: {
            el: '.swiper-pagination',
        },
        autoplay:true,
    })
</script>
</html>