<!DOCTYPE html>
<html lang="en">
<head>
    <!--申明当前页面的编码集-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--网页标题-->
    <title>修改支付宝</title>
    {include file="layout/head" /}
</head>
<body>
<header>
    <div class="header_bt">
        <div class="header_f"><a href="javascript:history.back()" class="header_fh"></a></div>
        <div class="header_c">修改支付宝</div>
    </div>
    <div style="height: .74rem;clear: both;"></div>
</header>
<input type="hidden" name="mui-tab-item" value="5">
<form  action="{:url('member/updateUser')}" method="post" onsubmit="return false" id="submitForm">
    <input type="hidden" name="field_type" value="zfb">
    <div class="zjmm-page">
        <ul class="flexbox column">
            <input type="hidden" class="input_line" id="mobile" name="mobile"  value="{$list->mobile}">
            <li>
                <input type="text" class="input_line required" name="zfb" value="{$list->zfb}" placeholder="新的支付宝号">
            </li>
            <li>
                <input type="text" class="input_line required" name="confirm_zfb"  placeholder="确认支付宝号">

            </li>
            <li class="no_show_line">
                <input type="text" class="input_line" id="real_name" readonly value="{$list->real_name}">
            </li>
            <li>
                <input type="password" class="input_line required" name="trad_pwd"  placeholder="资金密码验证">
                <i class="eye" onclick="openeye($(this))"></i>
            </li>
            <!--<li>-->
                <!--<input type="text" class="input_line show_line" style="width: 3.9rem;" name="code"  placeholder="手机验证码">-->
                <!--<button class="send-code" data-url="{:url('publics/sendChange',array('token'=>$token))}" data-form="submitForm" data-mobile="mobile" onclick="sendCode(this)"-->
                        <!--id="send-code">发送验证码</button>-->
            <!--</li>-->
        </ul>
    </div>
</form>
<div class="zjmm_btn">
    <button class="button_btn" data-form="submitForm" onclick="ajaxPost(this)"  >确定</button>
    <p>请确认支付宝号是否正确，以防收款不到账。</p>
</div>

</body>
{include file="layout/nav" /}
{include file="layout/footer" /}

</html>

