<!DOCTYPE html>
<html lang="en">
<head>
    <!--申明当前页面的编码集-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--网页标题-->
    <title>忘记密码</title>
    <script type="text/javascript" src="/static/js/fontSize.js"></script>
    <!--网页关键词-->
    <meta name="keywords" content="" />
    <!--网页描述-->
    <meta name="description" content="" />
    <!--适配当前屏幕-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <!--禁止自动识别电话号码-->
    <meta name="format-detection" content="telephone=no" />
    <!--禁止自动识别邮箱-->
    <meta content="email=no" name="format-detection" />
    <!--iphone中safari私有meta标签,
        允许全屏模式浏览,隐藏浏览器导航栏-->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!--iphone中safari顶端的状态条的样式black(黑色)-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--如果用户装了谷歌浏览器，用ie浏览时使用谷歌内核-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!--css文件-->
    <link href="/static/css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/css/mui.loading.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/reset.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/style.css" />
    <script src="/static/js/jquery1.10.2.min.js"></script>
</head>
<body>
<header>
    <div class="header_bt">
        <div class="header_f"><a href="javascript:history.back()" class="header_fh"></a></div>
        <div class="header_c blod" style="font-size: .35rem;">忘记密码</div>
    </div>
    <div style="height: .74rem;clear: both;"></div>
</header>
<form  id="change_form" action="{:url('publics/changeSave')}" method="post" onsubmit="return false">

<div class="zjmm-page zcdl-page wjmm-page">

    <ul class="flexbox column">
        <li class="qh">
            <em>+86</em>
            <input type="text" id="mobile" name="mobile"  class="input_line required"  value="" placeholder="手机号">
        </li>
        <li>
            <input type="password" name="new_pwd" class="input_line required" style="width:87%" placeholder="输入新的登录密码">
        </li>
        <li>
            <input type="password" name="confirm_pwd" class="input_line required"  style="width:87%" placeholder="确认新的登录密码">
        </li>
        <li>
            <input type="text" class="input_line"  name="code"  style="width:71%" placeholder="手机验证码">
            <button class="send-code" data-url="{:url('publics/sendChange',array('token'=>$token))}" data-mobile="mobile" data-form="change_form" onclick="sendCode(this)"
                    id="send-code">发送验证码</button>
        </li>
    </ul>
</div>
<div class="zjmm_btn zc-page_btn">
    <button class="button_btn" data-loading-text="登录中" data-form="change_form"  onclick="ajaxPost(this)">下一步</button>
    <p class="bcmm">请妥善保存密码，不可告诉其他人</p>
</div>
</form>
</body>
<script src="/static/js/mui.min.js"></script>
<script src="/static/js/mui.loading.js"></script>
<script src="/static/js/main.js"></script>
<script>
    mui.init();
</script>

</html>

