{extend name="layout/main" /}

{block name="header"}

{/block}

{block name="content"}
<section class="panel">
    <header class="panel-heading">
        <h4>编辑奖励数值</h4>
    </header>
    <div class="panel-body" style="padding-bottom: 50px" >
        <form class="form-horizontal" method="post" onsubmit="return false"  role="form" enctype="multipart/form-data">
            <input type="hidden" name="task_daily_id" value="{$info.task_daily_id}">
            <input type="hidden" name="id" value="{$info.id}">
            <div class="form-group">
                <label class="col-sm-2 control-label">奖励数值</label>
                <div class="col-sm-5">
                    <input type="text" name="num" class="form-control" value="{$info.num}">

                </div>
            </div>
            <button type="submit" name="sub" onclick="main.ajaxPosts(this)" data-url="{:url('admin/Task/taskDetailEdit')}" class="btn btn-primary">确定
            </button>
        </form>
    </div>
</section>
{/block}


{block name="footer"}
    <script src="/admin/vendor/fuelux/checkbox.js"></script>
{/block}