{extend name="layout/main" /}

{block name="header"}

{/block}

{block name="content"}
<section class="panel">
    <header class="panel-heading">
        <h4>奖励数值配置</h4>
    </header>
    <div class="panel-body" style="padding-bottom: 50px">
        <div class="form-group">
                
                <a type="button" href="/admin/Task/taskDetailAdd?task_daily_id={$task_daily_id}" class="btn btn-info">批量添加奖励数值配置</a>
            </div>
        <table class="table table-bordered table-striped no-margin">
            <thead>
            <tr>
                <th class="text-center">序号</th>
                <th class="text-center">奖励数值</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            {if !empty($list)}
            {foreach $list as $key=>$config}
            <tr>
                <td class="text-center" style="vertical-align: middle; ">{$key+1}</td>
                <td class="text-center" style="vertical-align: middle; ">
                    {$config.num}
                </td>

                <td class="text-center" style="vertical-align: middle; ">
                    <a class="btn btn-xs btn-primary" href="/admin/Task/taskDetailEdit?id={$config.id}">确认修改</a>

                     <a data-url="{:url('deletes3',['id'=>$config.id])}" onclick="main.ajaxDelete(this)"
                       data-msg="确定要删除该吗？" class="btn btn-xs btn-danger">删除</a>
                </td>
            </tr>
            {/foreach}
            {else /}
            <tr class="text-center">
                <td colspan="5">暂无数据</td>
            </tr>
            {/if}
            </tbody>
        </table>
        <div class="page">
            {$list->render()|raw}
        </div>
    </div>
</section>
{/block}


{block name="footer"}
<script>
    function updateConfig(e) {
        var key = $(e).attr('data-key');
        var value = $("#" + key).val();
        $.post("{:url('config/save')}", {key: key, value: value}, function (data) {
            if (data.code == 1) {
                main.waringAlert(data.message);
            } else {
                main.waringAlert(data.message);
                window.location.reload();
            }
        }, 'json')
    }
</script>
{/block}